sup.reference {
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  white-space: nowrap;
}

@namespace m url(http://www.w3.org/1998/Math/MathML);

@media screen {
  .mw-content-ltr {
    direction: ltr;
  }

  .sitedir-ltr input {
    direction: ltr;
  }

  input[ type='submit' ] {
    direction: ltr;
  }

  abbr[ title ] {
    border-bottom: 1px dotted;
  }

@supports ( text-decoration:underline dotted ) {
    abbr[ title ] {
      border-bottom: 0;
      text-decoration: underline dotted;
    }
}

  .catlinks ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    vertical-align: middle !ie;
  }

  .catlinks li {
    display: inline-block;
    line-height: 1.25em;
    border-left: 1px solid #a2a9b1;
    margin: 0.125em 0;
    padding: 0 0.5em;
    zoom: 1;
    display: inline !ie;
  }

  .catlinks li:first-child {
    padding-left: 0.25em;
    border-left: 0;
  }

  .mw-hidden-cats-hidden {
    display: none;
  }

  a.new {
    color: #ba0000;
  }

  a.mw-selflink {
    color: inherit;
    font-weight: bold;
    text-decoration: inherit;
  }

  a.mw-selflink:visited {
    color: inherit;
  }

  .plainlinks a.external {
    background: none !important;
    padding: 0 !important;
  }

  table.wikitable {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
  }

  table.wikitable > * > tr > th,
  table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
  }

  table.wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
  }

  .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
  }

  .mw-content-ltr ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
  }

  .mw-content-ltr dd {
    margin-left: 1.6em;
    margin-right: 0;
  }

  #toc ul,
  .toc ul {
    margin: 0.3em 0;
  }

  .mw-content-ltr .toc ul,
  .mw-content-ltr #toc ul {
    text-align: left;
  }

  .mw-content-ltr .toc ul ul,
  .mw-content-ltr #toc ul ul {
    margin: 0 0 0 2em;
  }

  .mw-jump,
  #jump-to-nav {
    overflow: hidden;
    height: 0;
    zoom: 1;
  }

  .printfooter {
    display: none;
  }



  sup {
    line-height: 1;
  }
}

@media screen {
  a {
    text-decoration: none;
    color: #0645ad;
    background: none;
  }



  a:visited {
    color: #0b0080;
  }

  a.new {
    color: #ba0000;
  }

  a.new:visited {
    color: #a55858;
  }

  .mw-parser-output a.extiw {
    color: #36b;
  }

  .mw-parser-output a.extiw:visited {
    color: #636;
  }

  .mw-parser-output a.external {
    color: #36b;
  }

  .mw-parser-output a.external:visited {
    color: #636;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  h1,
  h2,
  h3 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
  }

  h1 {
    font-size: 188%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    border-bottom: 0;
    font-weight: bold;
  }

  h3 {
    font-size: 128%;
  }

  h1,
  h2 {
    margin-bottom: 0.6em;
  }

  h3 {
    margin-bottom: 0.3em;
  }

  p {
    margin: 0.4em 0 0.5em 0;
  }

  p img {
    margin: 0;
  }

  ul {
    list-style-type: square;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
  }

  ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none;
  }

  li {
    margin-bottom: 0.1em;
  }

  dt {
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  dl {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 1.6em;
    margin-bottom: 0.1em;
  }

  table {
    font-size: 100%;
  }

  form {
    border: 0;
    margin: 0;
  }

  #toc ul,
  .toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  #toc ul ul,
  .toc ul ul {
    margin: 0 0 0 2em;
  }

  .tocnumber,
  .toctext {
    display: table-cell;
    text-decoration: inherit;
  }

  .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
    color: #222;
  }

  .mw-content-ltr .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
  }

  body.mw-hide-empty-elt .mw-empty-elt {
    display: none;
  }

  #siteNotice {
    position: relative;
    text-align: center;
    margin: 0;
  }

  .firstHeading {
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
  }

  #siteSub {
    display: none;
  }

  #jump-to-nav {
    margin-top: -1.4em;
    margin-bottom: 1.4em;
  }

  #contentSub {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
  }
}

.mw-wiki-logo {
  background-image: url(/static/images/project-logos/enwiki.png);
}

@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(min-resolution:1.5dppx),(min-resolution:144dpi) {
  .mw-wiki-logo {
    background-image: url(/static/images/project-logos/enwiki-1.5x.png);
    background-size: 135px auto;
  }
}

@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
  .mw-wiki-logo {
    background-image: url(/static/images/project-logos/enwiki-2x.png);
    background-size: 135px auto;
  }
}

@media screen {
  html {
    font-size: 100%;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: #f6f6f6;
  }

  .mw-body {
    padding: 1em;
    background-color: #ffffff;
    color: #222222;
    direction: ltr;
  }

  .mw-body {
    margin-left: 10em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-top: -1px;
  }

  .mw-body h1 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
  }

  .mw-body h1 {
    font-size: 1.8em;
  }

  .mw-body .firstHeading {
    overflow: visible;
  }

  .mw-body .mw-indicators {
    float: right;
    line-height: 1.6;
    font-size: 0.875em;
    position: relative;
    z-index: 1;
  }

  .mw-body .mw-indicator {
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .mw-body-content {
    position: relative;
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;
  }

  .mw-body-content p {
    line-height: inherit;
    margin: 0.5em 0;
  }

  div.emptyPortlet {
    display: none;
  }

  ul {
    list-style-type: disc;
    list-style-image: url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%225%22 height=%2213%22%3E%0A%09%3Ccircle cx=%222.5%22 cy=%229.5%22 r=%222.5%22 fill=%22%2300528c%22/%3E%0A%3C/svg%3E%0A");
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAIAAADuXjPfAAAABnRSTlMA/wD/AP83WBt9AAAAHklEQVR4AWP4jwrowWcI6oEgEBtIISNCfFT9mOYDACO/lbNIGC/yAAAAAElFTkSuQmCC) \9;
    list-style-image: url(/w/skins/Vector/images/bullet-icon.png?e31f8) \9!ie;
  }

  #siteNotice {
    font-size: 0.8em;
  }

  #p-personal {
    position: absolute;
    top: 0.33em;
    right: 0.75em;
    z-index: 100;
  }

  #p-personal h3 {
    display: none;
  }

  #p-personal ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding-left: 10em;
  }

  #p-personal li {
    line-height: 1.125em;
    float: left;
    margin-left: 0.75em;
    margin-top: 0.5em;
    font-size: 0.75em;
    white-space: nowrap;
  }

  #pt-anonuserpage {
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(/w/skins/Vector/images/user-icon.png?13155);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2213.836%22 viewBox=%220 0 12 13.836%22%3E%0A%09%3Cpath fill=%22%2372777d%22 d=%22M1.938%2C6.656c-1.32%2C1.485-1.47%2C3.15-0.97%2C4.25c0.323%2C0.707%2C0.78%2C1.127%2C1.313%2C1.375%09c0.496%2C0.229%2C1.074%2C0.273%2C1.658%2C0.282c0.023%2C0%2C0.04%2C0.03%2C0.062%2C0.03h4.187c0.61%2C0%2C1.225-0.125%2C1.75-0.405 c0.527-0.28%2C0.961-0.718%2C1.188-1.376c0.335-0.964%2C0.175-2.529-1.094-4.03C9.094%2C7.954%2C7.68%2C8.719%2C6.065%2C8.719 c-1.677%2C0-3.182-0.812-4.125-2.063H1.938z%22/%3E%0A%09%3Cpath fill=%22%2372777d%22 d=%22M6.063%2C0c-1.89%2C0-3.595%2C1.674-3.594%2C3.563C2.467%2C5.45%2C4.173%2C7.155%2C6.06%2C7.155 c1.89%2C0%2C3.564-1.705%2C3.563-3.593C9.625%2C1.673%2C7.95%2C0%2C6.063%2C0L6.063%2C0z%22/%3E%0A%3C/svg%3E%0A");
    padding-left: 15px !important;
  }

  #pt-anonuserpage {
    color: #707070;
  }

  #p-search {
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #p-search h3 {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

  #p-search form,
  #p-search input {
    margin: 0.4em 0 0;
  }

  #simpleSearch {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAJUlEQVQIHQXBsQEAAAjDoND/73UWdnerhmHVsDQZJrNWVg3Dqge6bgMe6bejNAAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/search-fade.png?50f7b)!ie;
    background-position: top left;
    background-repeat: repeat-x;
    color: #000;
    display: block;
    width: 12.6em;
    width: 20vw;
    min-width: 5em;
    max-width: 20em;
    padding-right: 1.4em;
    height: 1.4em;
    margin-top: 0.65em;
    position: relative;
    min-height: 1px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
  }

  #simpleSearch input {
    background-color: transparent;
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
  }

  #simpleSearch #searchInput {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 13px;
    direction: ltr;
    -webkit-appearance: textfield;
  }

  #simpleSearch #searchInput::-webkit-input-placeholder {
    color: #72777d;
    opacity: 1;
  }

  #simpleSearch #searchInput:-ms-input-placeholder {
    color: #72777d;
    opacity: 1;
  }

  #simpleSearch #searchInput::-moz-placeholder {
    color: #72777d;
    opacity: 1;
  }

  #simpleSearch #searchInput:-moz-placeholder {
    color: #72777d;
    opacity: 1;
  }

  #simpleSearch #searchInput::-webkit-search-decoration,
  #simpleSearch #searchInput::-webkit-search-cancel-button,
  #simpleSearch #searchInput::-webkit-search-results-button,
  #simpleSearch #searchInput::-webkit-search-results-decoration {
    -webkit-appearance: textfield;
  }

  #simpleSearch #searchButton,
  #simpleSearch #mw-searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.65em;
    height: 100%;
    text-indent: -99999px;
    line-height: 1;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
  }

  #simpleSearch #searchButton {
    background-image: url(/w/skins/Vector/images/search-ltr.png?39f97);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2213%22%3E%0A%09%3Cg fill=%22none%22 stroke=%22%2354595d%22 stroke-width=%222%22%3E%0A%09%09%3Cpath d=%22M11.29 11.71l-4-4%22/%3E%0A%09%09%3Ccircle cx=%225%22 cy=%225%22 r=%224%22/%3E%0A%09%3C/g%3E%0A%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
  }

  #simpleSearch #mw-searchButton {
    z-index: 1;
  }

  div.vectorTabs h3 {
    display: none;
  }

  div.vectorTabs {
    float: left;
    height: 2.5em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQVR4AWVOhQEAIAzC/X+xAXbXeoDFGA3A9yk1n4juBROcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-left: 1px;
  }

  div.vectorTabs ul {
    float: left;
    height: 100%;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQVR4AWVOhQEAIAzC/X+xAXbXeoDFGA3A9yk1n4juBROcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  div.vectorTabs ul li {
    float: left;
    line-height: 1.125em;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAO0lEQVR4AeSKhREAMQzDdN5/5uixuEKDpqgBjl2f78wd2DVj1+26/h///PfteVMN7zoGebcg1/Y/ZQQAlAUtQCujIJMAAAAASUVORK5CYII=);
    background-image: url(/w/skins/Vector/images/tab-normal-fade.png?1cc52)!ie;
    background-position: bottom left;
    background-repeat: repeat-x;
    white-space: nowrap;
  }

  div.vectorTabs ul > li {
    display: block;
  }

  div.vectorTabs li.selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkAQAAAABvV2fNAAAADElEQVR4AWNoGB4QAInlMgFKeRKBAAAAAElFTkSuQmCC);
    background-image: url(/w/skins/Vector/images/tab-current-fade.png?22887)!ie;
  }

  div.vectorTabs li.selected a,
  div.vectorTabs li.selected a:visited {
    color: #222;
    text-decoration: none;
  }

  div.vectorTabs li a {
    display: inline-block;
    height: 1.9em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    color: #0645ad;
    font-size: 0.8em;
  }

  div.vectorTabs span {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQVR4AWVOhQEAIAzC/X+xAXbXeoDFGA3A9yk1n4juBROcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 100%;
  }

  div.vectorTabs span a {
    display: inline-block;
    padding-top: 1.25em;
  }

  div.vectorTabs span > a {
    float: left;
    display: block;
  }

  div.vectorMenu {
    direction: ltr;
    float: left;
    position: relative;
    line-height: 1.125em;
  }

  div#mw-head div.vectorMenu h3 {
    float: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAAQ0lEQVR4AWVOhQEAIAzC/X+xAXbXeoDFGA3A9yk1n4juBROcUegfarWjP3ojZvEzxs6j+nygmo+zzsk79nY+tOxdEhlf3UHVgUFrVwAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/tab-break.png?09d4b)!ie;
    background-repeat: no-repeat;
    background-position: bottom right;
    font-size: 1em;
    height: 2.5em;
    padding-right: 0.5em;
    margin-right: -1px;
  }

  div.vectorMenu h3 span {
    position: relative;
    display: block;
    font-size: 0.8em;
    padding-left: 0.625em;
    padding-top: 1.25em;
    padding-right: 16px;
    font-weight: normal;
    color: #444;
  }

  div.vectorMenu h3 span:after {
    content: '';
    position: absolute;
    top: 1.25em;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/w/skins/Vector/images/arrow-down.png?42edd);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%0A%09%3Cpath d=%22M11.05 3.996l-.965-1.053-4.035 3.86-3.947-3.86L1.05 3.996l5 5 5-5%22 fill=%22%23222%22/%3E%0A%3C/svg%3E%0A");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    opacity: 0.85;
  }

  div.vectorMenu div.menu {
    min-width: 100%;
    position: absolute;
    top: 2.5em;
    left: -1px;
    background-color: #ffffff;
    border: 1px solid #a2a9b1;
    border-top-width: 0;
    clear: both;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    text-align: left;
    display: none;
    z-index: 2;
  }

  div.vectorMenu ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  div.vectorMenu ul {
    min-width: 5em;
  }

  div.vectorMenu ul {
    min-width: 0;
  }

  #mw-navigation h2 {
    position: absolute;
    top: -9999px;
  }

  #mw-page-base {
    height: 5em;
    background-position: bottom left;
    background-repeat: repeat-x;
    background-image: url(/w/skins/Vector/images/page-fade.png?1d168);
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,#ffffff),color-stop(100%,#f6f6f6));
    background-image: -webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: -moz-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: linear-gradient(#ffffff 50%,#f6f6f6 100%);
    background-color: #ffffff;
  }

  #mw-head-base {
    margin-top: -5em;
    margin-left: 10em;
    height: 5em;
  }

  div#mw-head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  div#mw-head h3 {
    margin: 0;
    padding: 0;
  }

  #left-navigation {
    float: left;
    margin-left: 10em;
    margin-top: 2.5em;
    margin-bottom: -2.5em;
    display: inline;
  }

  #right-navigation {
    float: right;
    margin-top: 2.5em;
  }

  #p-logo {
    width: 10em;
    height: 160px;
  }

  #p-logo a {
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
  }

  div#mw-panel {
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
  }

  div#mw-panel div.portal {
    margin: 0 0.6em 0 0.7em;
    padding: 0.25em 0;
    direction: ltr;
    background-position: top left;
    background-repeat: no-repeat;
  }

  div#mw-panel div.portal h3 {
    font-size: 0.75em;
    color: #444444;
    font-weight: normal;
    margin: 0.5em 0 0 0.66666667em;
    padding: 0.25em 0;
    border: 0;
  }

  div#mw-panel div.portal div.body {
    margin-left: 0.5em;
    padding-top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAABCAAAAAAphRnkAAAAJ0lEQVQIW7XFsQEAIAyAMPD/b7uLWz8wS5youFW1UREfiIpH1Q2VBz7fGPS1dOGeAAAAAElFTkSuQmCC);
    background-image: url(/w/skins/Vector/images/portal-break.png?3ea1b)!ie;
    background-repeat: no-repeat;
  }

  div#mw-panel div.portal div.body ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0.3em 0 0 0;
  }

  div#mw-panel div.portal div.body ul li {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    word-wrap: break-word;
  }

  div#mw-panel div.portal div.body ul li a {
    color: #0645ad;
  }

  div#mw-panel div.portal div.body ul li a:visited {
    color: #0b0080;
  }

  div#mw-panel #p-logo + div.portal {
    background-image: none;
    margin-top: 1em;
  }

  div#mw-panel #p-logo + div.portal h3 {
    display: none;
  }

  div#mw-panel #p-logo + div.portal div.body {
    background-image: none;
    margin-left: 0.5em;
  }

  .mw-parser-output .external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
    background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3C%3Fxml version=%221.0%22 encoding=%22UTF-8%22%3F%3E%0A%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E%0A%09%3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E%0A%09%3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E%0A%09%3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E%0A%3C/svg%3E%0A");
    padding-right: 13px;
  }
}

@media screen and (min-width:982px) {
  .mw-body {
    margin-left: 11em;
    padding: 1.25em 1.5em 1.5em 1.5em;
  }

  #mw-panel {
    padding-left: 0.5em;
  }

  #p-search {
    margin-right: 1em;
  }

  #left-navigation {
    margin-left: 11em;
  }

  #p-personal {
    right: 1em;
  }

  #mw-head-base {
    margin-left: 11em;
  }
}

.firstHeading:before {
  content: url(//en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg);
  display: block;
  height: 18px;
  left: -9999px;
  line-height: 0;
  margin-bottom: 20px;
  position: absolute;
  width: 116px;
}

small {
  font-size: 85%;
}

.mw-body-content sup {
  font-size: 80%;
}

.client-js .collapsible.collapsed > tbody > tr:not(:first-child) {
  display: none;
}

sup.reference {
  font-weight: normal;
  font-style: normal;
}

div.columns {
  margin-top: 0.3em;
}

div.columns ol {
  margin-top: 0;
}

div.columns li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.hlist dl,
.hlist ul {
  margin: 0;
  padding: 0;
}

.hlist dd,
.hlist dt,
.hlist li {
  margin: 0;
  display: inline;
}

.hlist ul ul {
  display: inline;
}

.hlist dt:after {
  content: ":";
}

.hlist dd:after,
.hlist li:after {
  content: " · ";
  font-weight: bold;
}

.hlist dd:last-child:after,
.hlist li:last-child:after {
  content: none;
}

.hlist li li:first-child:before {
  content: " (";
  font-weight: normal;
}

.hlist li li:last-child:after {
  content: ")";
  font-weight: normal;
}

.navbox {
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
  margin: 1em auto 0;
}

.navbox .navbox {
  margin-top: 0;
}

.navbox + .navbox {
  margin-top: -1px;
}

.navbox-inner,
.navbox-subgroup {
  width: 100%;
}

.navbox-group,
.navbox-title,
.navbox-abovebelow {
  padding: 0.25em 1em;
  line-height: 1.5em;
  text-align: center;
}

th.navbox-group {
  white-space: nowrap;
  text-align: right;
}

.navbox,
.navbox-subgroup {
  background: #fdfdfd;
}

.navbox-list {
  line-height: 1.5em;
  border-color: #fdfdfd;
}

tr + tr > .navbox-abovebelow,
tr + tr > .navbox-group,
tr + tr > .navbox-image,
tr + tr > .navbox-list {
  border-top: 2px solid #fdfdfd;
}

.navbox th,
.navbox-title {
  background: #ccccff;
}

.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup .navbox-title {
  background: #ddddff;
}

.navbox-subgroup .navbox-group {
  background: #e6e6ff;
}

.navbox-even {
  background: #f7f7f7;
}

.navbox-odd {
  background: transparent;
}

.navbox .hlist td ul,
.navbox td.hlist dl,
.navbox td.hlist ul {
  padding: 0.125em 0;
}

.navbar {
  display: inline;
  font-size: 88%;
  font-weight: normal;
}

.navbar ul {
  display: inline;
  white-space: nowrap;
}

.mw-body-content .navbar ul {
  line-height: inherit;
}

.navbar li {
  word-spacing: -0.125em;
}

.navbar.mini li abbr[title] {
  font-variant: small-caps;
  border-bottom: none;
  text-decoration: none;
}

.navbox .navbar {
  display: block;
  font-size: 100%;
}

.navbox-title .navbar {
  float: left;
  text-align: left;
  margin-right: 0.5em;
}

.collapseButton {
  float: right;
  font-weight: normal;
  margin-left: 0.5em;
  text-align: right;
  width: auto;
}

.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
}

.infobox td,
.infobox th {
  vertical-align: top;
  text-align: left;
}

.IPA a:link,
.IPA a:visited {
  text-decoration: none !important;
}

div.NavFrame div.NavContent {
  font-size: 100%;
}

.hatnote {
  font-style: italic;
}

div.hatnote {
  padding-left: 1.6em;
  margin-bottom: 0.5em;
}

.toclimit-3 .toclevel-2 ul {
  display: none;
}

.nowrap,
.nowraplinks a,
.nowraplinks .selflink {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
}

@media screen {
  #contentSub:empty {
    display: block !important;
  }

  #contentSub:empty ~ #jump-to-nav {
    margin-top: -1.4em !important;
    margin-bottom: 1.4em !important;
  }
}

@media screen {
  #siteSub {
    display: block;
    font-size: 92%;
  }
}

.mw-body .mw-indicators {
  padding-top: 0.4em;
}
