.gw-icon {
  background-size: 132px 235px;
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-gw_sprite_desktop-25075f36f083535bad9a2e0edabbb339435e8e65._V2_.png);
}

#gw-content-grid-top > div {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0235294), rgba(0, 0, 0, 0.0235294) 310px, rgb(255, 255, 255) 310px);
  background-position: initial initial;
  background-repeat: initial initial;
}

.bestsellers,
.desktop-row {
  width: 100%;
}

.gw-spinner {
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-loading_spinner-1af74fe87992c48b734d5c68f8ab795e0e9e3759._V2_.gif);
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.gw-loading-stripe {
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-loading_stripe-6e2e2549824f90e7ebf588143008d35ffb8498ab._V2_.gif);
  display: inline-block;
  vertical-align: top;
  width: 900px;
  height: 3px;
  background-position: initial initial;
  background-repeat: no-repeat no-repeat;
}

div.feed-carousel {
  width: 100%;
  margin: 0px 0px 5px;
  position: relative;
  overflow: hidden;
}

.feed-carousel .feed-carousel-viewport {
  width: 100%;
  min-height: 220px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.feed-carousel-touch .feed-carousel-viewport {
  overflow-x: scroll;
}

.feed-carousel .feed-carousel-card {
  vertical-align: top;
  min-height: 200px;
}

.feed-carousel .feed-carousel-shelf {
  display: inline-block;
  position: relative;
  left: 0px;
  margin: 0px 0px 14px;
  padding: 0px;
}

.feed-carousel .spinner {
  display: none;
  background-color: rgb(255, 255, 255);
  position: absolute;
  line-height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  padding-top: 50px;
}

.feed-carousel .feed-carousel-control {
  position: absolute;
  top: 55px;
  background-color: rgb(255, 255, 255);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: rgb(136, 136, 136) 0px 1px 3px;
  display: none;
}

.feed-carousel .feed-control-disabled {
  opacity: 0.5;
}

.feed-carousel .feed-left {
  left: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
  clip: rect(-10px 55px 110px 0px);
  padding-right: 5px;
}

.feed-carousel .feed-right {
  right: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  clip: rect(-10px 45px 110px -10px);
  padding-left: 5px;
}

.feed-carousel .feed-right .feed-arrow {
  background-position: 0px 0px;
}

.feed-carousel .feed-left .feed-arrow {
  background-position: -14px 0px;
}

.feed-carousel .feed-arrow {
  display: inline-block;
  line-height: normal;
  vertical-align: top;
  position: relative;
  top: 50%;
  height: 22px;
  width: 13px;
  margin-top: -11px;
}

.feed-carousel .feed-scrollbar {
  display: block;
  position: absolute;
  height: 6px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 0px;
}

.feed-carousel .feed-scrollbar-track {
  display: block;
  background-color: rgb(238, 238, 238);
  height: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  position: relative;
  top: 2px;
  margin: 0px;
}

.feed-carousel .feed-scrollbar-thumb {
  display: none;
  background-color: rgb(170, 170, 170);
  height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 0px;
  position: absolute;
  top: -2px;
  left: 0px;
  margin: 0px;
}

.a-touch .feed-carousel .feed-carousel-control,
.a-touch .feed-carousel .feed-scrollbar {
  display: none;
}

.fresh-shoveler {
  padding: 10px 20px;
}

.fresh-shoveler .as-title-block {
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 0px 0px;
}

.fresh-shoveler .as-title-block .a-color-base {
  color: rgb(68, 68, 68) !important;
}

.fresh-shoveler .as-title-block-left {
  display: block;
  width: auto;
  float: left;
  font-size: 21px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  padding-bottom: 0px;
}

.fresh-shoveler .as-title-block-right a {
  color: rgb(36, 123, 189);
}

.fresh-shoveler .as-title-block-right {
  display: block;
  width: auto;
  float: left;
  text-align: right;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 15px;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fresh-shoveler .feed-carousel-card {
  text-align: center;
  min-width: 145px;
  max-width: 270px;
  max-height: 200px;
  overflow: hidden;
  margin: 0px 10px 0px 0px;
  position: relative;
}

.fresh-shoveler .feed-carousel .feed-carousel-card .product-image {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
}

.fresh-shoveler .feed-carousel .feed-carousel-card {
  display: none;
}

.fresh-shoveler .feed-carousel .feed-carousel-card::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}

#gw-asin-popover {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 3%;
  overflow: hidden;
  position: relative;
  background-position: initial initial;
  background-repeat: initial initial;
}

#gw-asin-popover .content,
#gw-asin-popover .detailblock,
#gw-popover-wrapper {
  height: 100%;
}

#gw-asin-popover .detailblock {
  position: relative;
  z-index: 2;
}

#gw-asin-popover .detailblock::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#gw-asin-popover .details {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

#gw-asin-popover .imgblock {
  background-color: rgb(255, 255, 255);
  display: block;
  margin-right: 3%;
  width: 60%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 3;
  background-position: initial initial;
  background-repeat: initial initial;
}

#gw-asin-popover .imgblock::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#gw-asin-popover img.product-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  color: transparent;
}

#gw-asin-popover .title {
  display: block;
  color: rgb(17, 17, 17);
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 12px;
  overflow: hidden;
  max-height: 4em;
}

#gw-asin-popover .byline {
  font-size: 18px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#gw-asin-popover .pricing {
  font-size: 22px;
  margin-bottom: 28px;
}

#gw-asin-popover .pricing .ppu {
  color: rgb(153, 153, 153) !important;
  font-size: 12px !important;
}

#gw-asin-popover .reviews {
  display: block;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 36px;
  min-height: 1.2em;
}

#gw-asin-popover .reviews .a-icon-star-medium {
  vertical-align: middle;
}

#gw-asin-popover .pricing .price {
  color: rgb(17, 17, 17) !important;
}

#gw-asin-popover .a-button {
  width: 100%;
  max-width: 210px;
}

#gw-asin-popover .loading {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -50px;
  text-align: center;
  display: none;
}

#gw-asin-popover .close-icon {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  z-index: 4;
  background-position: -96px -46px;
}

#gw-quick-look-btn {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 7px;
  margin: auto;
  width: 95%;
  max-width: 180px;
}

.feed-carousel .feed-carousel-card .a-list-item {
  text-align: center;
  position: relative;
  display: inline-block;
  min-width: 145px;
}

#gw-asin-popover {
  height: 70%;
}

#sims-section {
  height: 30%;
}

.sims-container {
  height: 141px;
  width: 100%;
}

.sims-wrapper {
  background-color: rgb(242, 242, 242);
  height: 2px;
  overflow: hidden;
  position: relative;
  background-position: initial initial;
  background-repeat: initial initial;
}

.sims-header {
  padding-top: 15px;
  position: relative;
  z-index: 2;
}

.sims-header-text {
  margin: 0px auto;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.sims-loading {
  height: 2px;
}

.sims-details {
  overflow: hidden;
  height: 100%;
  margin-left: 10px;
}

.cropped-image-map-size {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cropped-image-map-center-alignment {
  text-align: center;
  position: absolute;
  top: 0px;
  right: -200%;
  bottom: 0px;
  left: -200%;
}

.cropped-image-map-size img {
  max-width: none;
}

.deals-shoveler.fresh-shoveler {
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

.deals-shoveler.fresh-shoveler .feed-carousel .feed-carousel-card::before {
  vertical-align: top;
}

.deals-shoveler .feed-carousel-card {
  min-height: 275px;
  min-width: 165px;
}

.deals-shoveler .deals-shoveler-card {
  height: 200px;
}

.deals-shoveler .deals-shoveler-card::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}

.deals-shoveler .deals-shoveler-card-image {
  display: inline-block;
}

.deals-shoveler .feed-carousel .feed-carousel-shelf {
  margin: 0px 0px 24px;
}

.nav-hidden-aria {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 0px 8px !important;
}

html.a-js body {
  margin: 0px !important;
}

#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 198;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  margin: 0px -8px;
  display: block;
  zoom: 1;
  min-width: 1000px;
}

html.a-js #navbar {
  margin: 0px !important;
}

#navbar * {
  box-sizing: border-box;
}

#navbar #nav-search {
  margin-top: 0px;
  padding-top: 11px;
  padding-right: 25px;
}

#navbar #nav-search .nav-searchbar {
  margin-bottom: 0px;
}

#navbar #nav-search .nav-searchbar .nav-fill {
  overflow: hidden;
}

#nav-belt {
  position: relative;
  width: 100%;
  font-size: 14px;
  z-index: 5;
}

#nav-belt .nav-a {
  color: rgb(214, 214, 214);
}

#nav-belt .nav-fill,
#nav-belt .nav-left,
#nav-belt .nav-right {
  height: 39px;
}

#nav-belt .nav-right {
  min-width: 350px;
}

#nav-belt .nav-fill {
  overflow: visible;
}

#nav-main {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  z-index: 4;
  background-position: 0px -725px;
}

#nav-main .nav-fill,
#nav-main .nav-left,
#nav-main .nav-right {
  height: 55px;
}

#nav-main span.nav-arrow {
  display: none;
}

#nav-tools {
  float: left;
  padding: 6px 7px 0px 32px;
  text-decoration: none;
  margin-top: 2px;
}

#nav-tools .nav-a {
  position: relative;
  float: left;
  top: 1px;
  padding: 0px 0px 0px 9px;
  line-height: 44px;
  height: 44px;
}

#nav-tools .nav-cart-count {
  color: rgb(228, 121, 17);
  font-weight: 700;
  font-family: arial, sans-serif;
  position: absolute;
  line-height: 16px;
  width: 20px;
  text-align: center;
}

#nav-tools #nav-cart .nav-cart-0 {
  left: 23px;
  top: 9px;
  font-size: 16px;
  width: 19px;
}

#nav-tools #nav-cart .nav-cart-icon {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 38px;
  height: 26px;
  background-position: -10px -340px;
}

#nav-tools #nav-cart .nav-line-1,
#nav-tools #nav-cart .nav-line-2 {
  margin-left: 42px;
}

#nav-tools .nav-a:last-of-type {
  padding-left: 6px;
}

#nav-tools .nav-a-2 {
  padding-right: 0px;
  overflow: hidden;
  top: 1px;
  margin: 0px 1px;
  display: inline-block;
  box-sizing: border-box;
}

#nav-tools .nav-a-2 .nav-line-1,
#nav-tools .nav-a-2 .nav-line-2,
#nav-tools .nav-a-2 .nav-line-3,
#nav-tools .nav-a-2 .nav-line-4 {
  float: left;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  padding-right: 9px;
  font-family: arial, sans-serif;
  color: rgb(0, 0, 0);
}

#nav-tools .nav-a-2 .nav-line-1,
#nav-tools .nav-a-2 .nav-line-3 {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  margin-top: 9px;
}

#nav-tools .nav-a-2 .nav-line-2,
#nav-tools .nav-a-2 .nav-line-4 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}

#nav-tools .nav-a-2 .nav-line-2 .nav-icon {
  display: inline-block;
  border-style: solid;
  border-width: 4px 4px 0px;
  border-color: rgb(96, 96, 96) transparent transparent;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0;
  margin: 0px 0px 2px 5px;
  visibility: hidden;
}

#nav-tools .nav-a-2 .nav-line-3,
#nav-tools .nav-a-2 .nav-line-4 {
  display: none;
}

#nav-tools .nav-single-row-link {
  height: 26px;
  margin-top: 18px;
}

#nav-tools .nav-single-row-link .nav-line-1 {
  color: rgb(170, 170, 170);
  height: 0px;
  margin-top: 5px;
}

#nav-shop {
  float: left;
  padding: 6px 12px 0px 15px;
  text-decoration: none;
  margin-top: 2px;
  width: 192px;
}

#nav-shop .nav-a {
  line-height: 44px;
  height: 44px;
  position: relative;
  float: left;
  top: 1px;
}

#nav-shop .nav-a-2 {
  padding-right: 0px;
  overflow: hidden;
  top: 1px;
  margin: 0px 1px;
  display: inline-block;
  box-sizing: border-box;
}

#nav-shop .nav-a-2 .nav-line-1,
#nav-shop .nav-a-2 .nav-line-2 {
  float: left;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  padding: 0px 12px 0px 13px;
  font-family: arial, sans-serif;
  color: rgb(0, 0, 0);
}

#nav-shop .nav-a-2 .nav-line-1 {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  margin-top: 9px;
}

#nav-shop .nav-a-2 .nav-line-2 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}

#nav-shop .nav-a-2 .nav-line-2 .nav-icon {
  display: inline-block;
  border-style: solid;
  border-width: 4px 4px 0px;
  border-color: rgb(96, 96, 96) transparent transparent;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0;
  margin: 0px 0px 2px 5px;
  visibility: hidden;
}

#nav-shop .nav-single-row-link {
  height: 26px;
  margin-top: 16px;
}

#nav-shop .nav-single-row-link .nav-line-1 {
  color: rgb(170, 170, 170);
  height: 0px;
  margin-top: 5px;
}

#nav-xshop-container {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  z-index: 20;
}

#nav-xshop {
  margin: 32px 0px 0px;
  height: 37px;
  overflow: hidden;
}

#nav-xshop .nav-a {
  float: left;
  padding: 0px 9px;
  margin-bottom: 25px;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#nav-xshop .nav-a:first-of-type {
  padding-left: 0px;
}

#nav-xshop .nav-a,
#nav-xshop .nav-a:link,
#nav-xshop .nav-a:visited {
  color: rgb(0, 85, 170);
  text-decoration: none;
}

#nav-swmslot {
  position: relative;
  height: 39px;
  display: inline;
  overflow: hidden;
}

.nav-left {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
}

.nav-right {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
}

.nav-fill {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.nav-icon {
  background-repeat: no-repeat no-repeat;
}

a.nav-a,
a.nav-a:link,
a.nav-a:visited {
  font-family: arial, sans-serif;
  text-decoration: none;
}

.nav-action-button,
.nav-action-button:link {
  display: block;
  height: 33px;
  margin: 0px 10px 0px 11px;
  outline: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 148, 17) rgb(176, 130, 15) rgb(153, 113, 13);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: rgb(252, 243, 220) 0px 1px 0px 0px inset;
  box-shadow: rgb(252, 243, 220) 0px 1px 0px 0px inset;
  background-image: -webkit-linear-gradient(top, rgb(248, 227, 173), rgb(238, 186, 55));
  text-align: center;
  vertical-align: middle;
  color: rgb(17, 17, 17);
  font-family: arial, sans-serif;
  text-decoration: none;
  line-height: 30px;
  font-size: 13px;
  background-position: initial initial;
  background-repeat: initial initial;
}

.nav-action-button .nav-action-inner,
.nav-action-button:link .nav-action-inner {
  color: rgb(17, 17, 17);
  display: block;
  text-align: center;
}

.nav-column {
  float: left;
  clear: none;
}

.nav-column-notfirst {
  margin-left: -12px;
}

#nav-logo {
  position: relative;
  float: left;
  line-height: 0;
  height: 100%;
  width: 192px;
  padding: 13px 18px 0px 27px;
}

#nav-logo .nav-logo-link {
  clear: both;
  display: inline-block;
}

#nav-logo .nav-logo-base {
  float: left;
  text-indent: -500px;
  width: 97px;
  height: 30px;
  background-position: -10px -51px;
}

#nav-logo .nav-logo-ext {
  float: left;
  display: none;
}

#nav-logo .nav-logo-locale {
  float: left;
  display: none;
  margin: 6px 0px 0px 1px;
}

#nav-logo .nav-logo-tagline {
  position: absolute;
  top: 32px;
  left: 92px;
  font-size: 11px;
  line-height: 11px;
  font-family: arial, sans-serif;
  white-space: nowrap;
  color: rgb(72, 163, 198);
  text-decoration: underline;
  font-weight: 700;
  background-position: -1000px 0px;
  background-repeat: no-repeat no-repeat;
}

#nav-logo .nav-prime-try {
  top: 31px;
  left: 93px;
}

#nav-subnav {
  position: relative;
  display: none;
  margin: 0px;
  padding: 0px 9px 0px 15px;
  overflow: hidden;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.168627);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
  white-space: nowrap;
  height: 33px;
  background-color: rgb(250, 250, 250);
  background-position: initial initial;
  background-repeat: initial initial;
}

#nav-subnav {
  z-index: 1;
}

#nav-swmslot {
  position: relative;
  overflow: hidden;
  height: 39px;
  top: 9px;
}

#nav-search-label {
  position: relative;
  display: inline-block;
  float: left;
  line-height: 35px;
  color: rgb(51, 51, 51);
  font-weight: 700;
  padding: 0px 10px 0px 0px;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

#nav-search {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  width: auto;
  margin: 10px 0px 0px;
}

#nav-search .nav-searchbar {
  display: block;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#nav-search .nav-searchbar .nav-fill,
#nav-search .nav-searchbar .nav-left,
#nav-search .nav-searchbar .nav-right {
  position: relative;
  height: 35px;
}

#nav-search .nav-searchbar .nav-right {
  min-width: 0px;
}

#nav-search .nav-search-scope {
  position: relative;
  float: left;
  height: 35px;
  margin: 0px;
  padding-left: 5px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 189, 189) rgb(205, 205, 205) rgb(205, 205, 205);
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
  background-position: 0px -532px;
}

#nav-search .nav-search-facade {
  position: relative;
  float: left;
  overflow: hidden;
}

#nav-search .nav-search-facade .nav-search-label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(102, 102, 102);
  font-size: 12px;
  line-height: 33px;
  margin-right: 21px;
  margin-left: 5px;
}

#nav-search .nav-search-facade .nav-icon {
  position: absolute;
  top: 14px;
  right: 8px;
  border-style: solid;
  border-width: 4px 4px 0px;
  border-color: rgb(102, 102, 102) transparent transparent;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0;
}

#nav-search .nav-search-dropdown {
  position: absolute;
  display: block;
  top: -1px;
  left: 0px;
  height: 35px;
  width: auto;
  font-family: arial, sans-serif;
  outline: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  opacity: 0;
  visibility: visible;
  border: 0px;
  line-height: 35px;
}

#nav-search .nav-search-submit {
  position: relative;
  top: 0px;
  right: 0px;
  height: 35px;
  width: 42px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(72, 80, 89) rgb(44, 49, 55) rgb(54, 60, 67) rgb(72, 80, 89);
  background-color: rgb(91, 98, 106);
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  background-position: 0px -381px;
}

#nav-search .nav-search-submit .nav-search-submit-text {
  position: absolute;
  left: 11px;
  top: 10px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 13px;
  font-family: arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}

#nav-search .nav-search-submit .nav-input {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  outline: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  text-indent: -1000px;
  line-height: 1px;
  background-position: 0px 0px;
  background-repeat: initial initial;
}

#nav-search .nav-search-field {
  position: relative;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(189, 189, 189);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(205, 205, 205);
  background-position: initial initial;
  background-repeat: initial initial;
}

#nav-search .nav-search-field .nav-input {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  line-height: 15px;
  padding: 6px 10px 6px 0px;
  margin: 0px;
  border: 0px;
  height: 33px;
  font-family: arial, sans-serif;
  font-size: 15px;
  color: rgb(17, 17, 17);
  outline: rgb(0, 0, 0);
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 8px;
  background-position: 0px 0px;
  background-repeat: initial initial;
}

#nav-search #nav-iss-attach {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  line-height: 1;
}

#nav-flyout-iss-anchor {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  line-height: 0;
  zoom: 1;
  z-index: 100;
}

.nav-flyout {
  position: absolute;
  display: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(187, 187, 187);
  box-sizing: border-box;
  padding: 14px;
  margin: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.129412) 0px 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.129412) 0px 2px 4px 0px;
  zoom: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  font-size: 13px;
  font-family: arial, sans-serif;
  line-height: normal;
  overflow: visible !important;
  background-position: initial initial;
  background-repeat: initial initial;
}

.nav-flyout .nav-arrow {
  border-style: solid;
  border-width: 0px 9px 9px;
  border-color: transparent transparent rgb(204, 204, 204);
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0;
  position: absolute;
  top: -9px;
}

.nav-flyout .nav-arrow-inner {
  border-style: solid;
  border-width: 0px 9px 9px;
  border-color: transparent transparent rgb(255, 255, 255);
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0;
  position: absolute;
  top: 1px;
  left: -9px;
}

.nav-flyout .nav-spinner {
  min-height: 200px;
  min-width: 200px;
}

#nav-flyout-anchor {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  line-height: 0;
  zoom: 1;
  z-index: 100;
}

#nav-flyout-prime {
  margin-top: -2px;
}

#nav-flyout-ya-signin {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
  font-size: 11px;
  margin-bottom: 8px;
}

#nav-flyout-ya-signin .nav_pop_new_cust {
  color: rgb(51, 51, 51);
  margin: 7px 0px 9px;
}

#nav-flyout-ya-signin a.nav-a,
#nav-flyout-ya-signin a.nav-a:link,
#nav-flyout-ya-signin a.nav-a:visited {
  font-size: 11px;
  text-decoration: none;
  color: rgb(0, 85, 170);
  display: inline;
}

#nav-flyout-prime {
  box-sizing: content-box;
}

#nav-flyout-prime .nav-flyout-content {
  box-sizing: content-box;
  width: auto;
  padding: 0px;
  min-width: 200px;
}

.nav-signin-tt {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-signin-tt .nav-arrow {
  left: 50%;
  margin-left: -9px;
}

#nav-signin-tooltip {
  text-align: center;
}

#nav-signin-tooltip .nav-signin-tooltip-footer {
  padding-top: 10px;
  color: rgb(51, 51, 51);
  font-size: 11px;
}

#nav-signin-tooltip .nav-signin-tooltip-footer .nav-a {
  color: rgb(0, 85, 170);
  text-decoration: none;
  padding-left: 3px;
}

#nav-upnav {
  margin: 0px -8px;
}

html.a-js body #nav-upnav {
  margin: 0px;
}

#nav-upnav .nav-a {
  display: block;
  width: 100%;
  height: 100%;
  outline: rgb(0, 0, 0);
}

#navbar #nav-search-submit-text {
  left: 12px;
  color: rgb(17, 17, 17);
  top: 11px;
  text-shadow: none;
}

#navbar #nav-search-submit-text.nav-sprite {
  width: 21px;
  height: 21px;
  text-indent: -500px;
  top: 7px;
  background-position: -40px -290px;
}

#navbar.nav-bluebeacon {
  background-color: rgb(35, 47, 62);
}

#navbar.nav-bluebeacon #nav-belt {
  background-color: rgb(35, 47, 62);
}

#navbar.nav-bluebeacon #nav-main {
  background-image: none;
  background-color: rgb(35, 47, 62);
}

#navbar.nav-bluebeacon #nav-logo {
  width: 192px;
}

#navbar.nav-bluebeacon #nav-search-label {
  top: 1px;
  font-weight: 400;
}

#navbar.nav-bluebeacon #nav-xshop .nav-a {
  color: rgb(204, 204, 204);
}

#navbar.nav-bluebeacon #nav-search-label,
#navbar.nav-bluebeacon .nav-a-2 .nav-line-1,
#navbar.nav-bluebeacon .nav-a-2 .nav-line-2 {
  color: rgb(255, 255, 255);
}

#navbar.nav-bluebeacon #nav-tools .nav-line-1 {
  color: rgb(204, 204, 204);
}

#navbar.nav-bluebeacon #nav-cart-count {
  color: rgb(240, 136, 4);
  top: 7px;
}

#navbar.nav-bluebeacon #nav-search .nav-search-facade {
  top: 1px;
}

#navbar.nav-bluebeacon #nav-search .nav-fill {
  height: 35px;
  zoom: 1;
}

#navbar.nav-bluebeacon #nav-search .nav-search-scope {
  background-color: rgb(243, 243, 243);
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(243, 243, 243);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(243, 243, 243);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(243, 243, 243);
}

#navbar.nav-bluebeacon #nav-search .nav-search-field {
  border-style: solid none none;
  border-top-width: 1px;
  border-top-color: transparent;
}

#navbar.nav-bluebeacon #nav-search .nav-search-submit {
  background-color: rgb(254, 189, 105);
  background-image: none;
  border: none;
  width: 45px;
}

#navbar.nav-bluebeacon #nav-search #nav-search-submit-text.nav-sprite {
  width: 21px;
  height: 21px;
  background-position: -10px -290px;
}

#navbar.nav-bluebeacon .nav-icon.nav-arrow {
  border-top-color: rgb(167, 172, 178);
}

#navbar.nav-bluebeacon .nav-logo-tagline {
  color: rgb(72, 163, 198);
}

#rhf .rhf-frame {
  display: none;
  min-width: 940px;
  position: relative;
}

#rhf .rhf-border {
  border: 1px solid rgb(221, 221, 221);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 20px;
}

#rhf .rhf-header,
#rhf .rhf-sub-heading {
  color: rgb(68, 68, 68);
  font-weight: 400;
  padding: 10px 10px 3px;
  white-space: nowrap;
}

#rhf .rhf-header {
  font-size: 20px;
  text-align: left;
  display: inline-block;
}

#rhf .rhf-sub-heading {
  font-size: 15px;
  text-align: right;
  float: right;
}

#rhf .rhf-loading-outer {
  height: 248px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  width: 100% !important;
}

#rhf .rhf-loading-outer[class] {
  display: table;
  position: static;
}

#rhf .rhf-loading-middle {
  height: 100%;
  width: 100% !important;
}

#rhf .rhf-loading-inner {
  text-align: center;
  vertical-align: middle;
}

#rhf .rhf-footer {
  padding-bottom: 14px;
}

#rhf .rvi-container {
  height: 75px;
  line-height: 75px;
  overflow: hidden;
  padding: 0px 10px;
  position: relative;
}

#rhf .rhf-border a {
  text-decoration: none;
}

#rhf .rhf-footer .ybh-edit {
  float: right;
  margin-top: 18px;
  padding-left: 40px;
  padding-right: 10px;
}

#rhf .ybh-edit .ybh-edit-arrow,
#rhf .ybh-edit .ybh-edit-link {
  display: inline-block;
  font-weight: 700;
  line-height: 11px;
  vertical-align: top;
}

#rhf .ybh-edit .ybh-edit-arrow {
  color: rgb(204, 153, 0);
  font-size: 11px;
  margin-top: -2px;
  padding-right: 8px;
}

#rhf .ybh-edit .ybh-edit-link {
  font-size: 10px;
  width: 80px;
}

#rhf .rvi-container .no-rvi-message {
  color: rgb(0, 0, 0);
  float: left;
  font-size: 13px;
  font-style: italic;
}

.icp-nav-link-inner {
  padding-right: 11px;
  margin-left: -16px;
  display: inline-block;
}

.icp-nav-link-border {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(85, 85, 85);
  display: inline-block;
  margin-bottom: 5px;
  width: 1px;
  height: 29px;
}

.icp-nav-language {
  position: relative;
  top: -3px;
  left: 5px;
}

.icp-nav-globe-img-2 {
  position: relative;
  top: 15px;
  left: 24px;
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-7d1bfde38eb13748605e178896ede63a4aa68e0c._V2_.png);
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -77px -24px;
  background-repeat: initial initial;
}

.icp-nav-link-inner .nav-arrow {
  position: relative;
  left: 38px;
}

.icp-nav-link-inner .nav-line-2 {
  position: relative;
  left: -7px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icp-nav-globe-img-2 {
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite_2x-391462dbcf09456cb0249b135186930d7e699c73._V2_.png);
    background-size: 142px 120px;
  }
}

.icp-container-desktop * {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

header {
  display: block;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  border: 0px;
}

input,
select {
  margin: 0px;
  font-size: 100%;
  vertical-align: middle;
}

input {
  line-height: normal;
}

input[type="submit"] {
  -webkit-appearance: button;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

.a-color-base {
  color: rgb(17, 17, 17) !important;
}

.a-color-tertiary {
  color: rgb(118, 118, 118) !important;
}

.a-row {
  width: 100%;
}

.a-row::after,
.a-row::before {
  display: table;
  content: '';
  line-height: 0;
  font-size: 0px;
}

.a-row::after {
  clear: both;
}

.a-fixed-right-grid-inner {
  position: relative;
  padding: 0px;
}

.a-fixed-right-grid-inner::after,
.a-fixed-right-grid-inner::before {
  display: table;
  content: '';
  line-height: 0;
  font-size: 0px;
}

.a-fixed-right-grid-inner::after {
  clear: both;
}

.a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.a-fixed-right-grid {
  position: relative;
}

.a-fixed-right-grid .a-col-left {
  width: 100%;
  padding-right: 3.5%;
}

.a-spacing-none {
  margin-bottom: 0px !important;
}

.a-text-left {
  text-align: left !important;
}

.a-section {
  margin-bottom: 22px;
}

.a-section:last-child {
  margin-bottom: 0px;
}

.a-icon {
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-c4a765aedd886dc04d89e7e93b6a02c59ecb7013._V2_.png);
  -webkit-background-size: 400px 750px;
  background-size: 400px 750px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat no-repeat;
}

.a-icon-star-medium {
  position: relative;
  vertical-align: text-top;
}

.a-icon-star-medium {
  width: 95px;
  height: 21px;
  margin-right: 1px;
  top: -2px;
}

.a-icon-alt {
  position: absolute;
  left: -9999px;
  top: auto;
  display: block;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}

[class*="a-icon-star"] > .a-icon-alt {
  left: auto;
  width: 100%;
  height: 100%;
  font-size: inherit;
  line-height: normal;
  opacity: 0;
}

body {
  font-size: 13px;
  line-height: 19px;
  color: rgb(17, 17, 17);
  font-family: Arial, sans-serif;
}

input,
select {
  font-family: inherit;
}

h2 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding-bottom: 4px;
}

h2 {
  text-rendering: optimizelegibility;
}

h2 {
  padding-bottom: 4px;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
}

p {
  padding: 0px;
  margin: 0px 0px 14px;
}

p:last-child {
  margin-bottom: 0px;
}

p + p {
  margin-top: -4px;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

.a-size-medium {
  font-size: 17px !important;
  line-height: 1.255 !important;
}

.a-size-medium {
  text-rendering: optimizelegibility;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 1px 0px 0px;
  border-top-style: solid;
  border-top-color: rgb(231, 231, 231);
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.a-button {
  background-color: rgb(231, 233, 236);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: rgb(173, 177, 184) rgb(162, 166, 172) rgb(141, 144, 150);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  background-position: initial initial;
  background-repeat: initial initial;
}

.a-button .a-button-inner {
  background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
  background-position: initial initial;
  background-repeat: initial initial;
}

.a-button .a-button-text {
  color: rgb(17, 17, 17);
}

.a-button-text {
  background-color: transparent;
  border: 0px;
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 0px;
  outline: rgb(0, 0, 0);
  padding: 0px 10px 0px 11px;
  text-align: center;
  white-space: nowrap;
}

a.a-button-text {
  width: 100%;
  height: 100%;
}

.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px inset;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.a-button-input {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.01;
  outline: rgb(0, 0, 0);
  overflow: visible;
  z-index: 20;
}

.a-button a {
  color: rgb(17, 17, 17);
  text-decoration: none !important;
}

.a-button-primary {
  background-color: rgb(240, 193, 75);
  border-color: rgb(168, 135, 52) rgb(156, 126, 49) rgb(132, 106, 41);
  color: rgb(17, 17, 17);
  background-position: initial initial;
  background-repeat: initial initial;
}

.a-button-primary .a-button-inner {
  background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
  background-position: initial initial;
  background-repeat: initial initial;
}

.a-button-primary .a-button-inner {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px inset;
}

.a-button-primary .a-button-text {
  color: rgb(17, 17, 17);
}

img {
  vertical-align: top;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: rgb(0, 102, 192);
}

p a,
p a:link,
p a:visited {
  text-decoration: underline;
}

table {
  margin-bottom: 18px;
  border-collapse: collapse;
  width: 100%;
}

table:last-child {
  margin-bottom: 0px !important;
}

td {
  vertical-align: top;
}

td:first-child {
  padding-left: 0px;
}

td:last-child {
  padding-right: 0px;
}

tr:last-child td {
  padding-bottom: 0px;
}

tr:first-child td {
  padding-top: 0px;
}

td {
  padding: 3px;
}

.a-unordered-list,
ul {
  margin: 0px 0px 0px 18px;
  color: rgb(148, 148, 148);
}

.a-unordered-list li,
ul li {
  list-style: disc;
}

ol {
  margin: 0px 0px 0px 20px;
  color: rgb(118, 118, 118);
}

ol li {
  list-style: decimal;
}

.a-unordered-list,
ol,
ul {
  padding: 0px;
}

.a-unordered-list .a-list-item,
ul .a-list-item {
  color: rgb(17, 17, 17);
}

.a-unordered-list li,
ol li,
ul li {
  word-wrap: break-word;
  margin: 0px;
}

.a-unordered-list.a-nostyle,
ul.a-nostyle {
  margin-left: 0px;
  color: rgb(17, 17, 17);
}

.a-unordered-list.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}

.a-unordered-list.a-horizontal,
ul.a-horizontal {
  display: block;
  margin-left: 0px;
}

.a-unordered-list.a-horizontal::after,
.a-unordered-list.a-horizontal::before,
ul.a-horizontal::after,
ul.a-horizontal::before {
  display: table;
  content: '';
  line-height: 0;
  font-size: 0px;
}

.a-unordered-list.a-horizontal::after,
ul.a-horizontal::after {
  clear: both;
}

.a-unordered-list.a-horizontal li,
ul.a-horizontal li {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.a-unordered-list.a-horizontal li:last-child,
ul.a-horizontal li:last-child {
  margin-right: 0px;
}

form {
  margin-bottom: 14px;
}

label {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

input[type="text"] {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(148, 148, 148) rgb(166, 166, 166) rgb(166, 166, 166);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px, rgba(0, 0, 0, 0.0666667) 0px 1px 0px inset;
  outline: rgb(0, 0, 0);
}

input,
select {
  line-height: 19px;
  color: rgb(17, 17, 17);
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
}

input::-webkit-input-placeholder {
  color: rgb(85, 85, 85);
}

.a-carousel-container {
  position: relative;
  overflow: hidden;
}

.a-carousel-row-inner {
  position: relative;
  height: 100%;
}

.a-carousel-row-inner::after,
.a-carousel-row-inner::before {
  display: table;
  content: '';
  line-height: 0;
  font-size: 0px;
}

.a-carousel-row-inner::after {
  clear: both;
}

.a-carousel-col {
  overflow: visible;
  min-height: 1px;
  position: relative;
  zoom: 1;
}

.a-carousel-has-buttons .a-carousel-center {
  margin: 0px 40px;
}

.a-carousel-has-buttons.a-carousel-overlay-buttons .a-carousel-center {
  margin: 0px;
}

.a-carousel-center {
  overflow: hidden;
}

.a-carousel-left {
  left: 0px;
  padding-left: 3px;
}

.a-carousel-right {
  text-align: right;
  right: 0px;
  padding-right: 3px;
}

.a-carousel-left,
.a-carousel-right {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.a-carousel-left,
.a-carousel-right {
  visibility: hidden;
}

.a-carousel-viewport {
  width: 100%;
  overflow: hidden;
}

ol.a-carousel {
  margin: 0px;
  list-style-type: none;
  height: 100%;
  white-space: nowrap;
  overflow-x: visible;
  color: rgb(17, 17, 17);
  letter-spacing: -4px;
}

.a-carousel-card {
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  margin-left: 16px;
  width: 160px;
  min-height: 100%;
  list-style-type: none;
  display: inline-block;
  white-space: normal;
  letter-spacing: normal;
}

.a-carousel-display-single .a-carousel-card {
  width: 100%;
  text-align: center;
  margin: 0px;
}

.a-carousel-display-single .a-carousel-card img {
  max-width: 100%;
  max-height: 100%;
}

.a-icon.a-icon-next-rounded,
.a-icon.a-icon-previous-rounded {
  background-size: 68px 52px;
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUICarousel-arrows-c495a9b59afd9b35a08c12513d40b8c7e7771499._V2_.png);
  width: 34px;
  height: 52px;
  outline: rgb(0, 0, 0);
}

.a-icon.a-icon-previous-rounded {
  background-position: 0px 0px;
}

.a-icon.a-icon-next-rounded {
  background-position: -34px 0px;
}

.a-carousel-rounded-buttons .a-carousel-left,
.a-carousel-rounded-buttons .a-carousel-right {
  width: 80px;
  position: absolute;
}

.a-carousel-rounded-buttons .a-carousel-goto-nextpage,
.a-carousel-rounded-buttons .a-carousel-goto-prevpage {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  outline: rgb(0, 0, 0);
}

.a-carousel-rounded-buttons .a-icon-next-rounded,
.a-carousel-rounded-buttons .a-icon-previous-rounded {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.a-popover-preload {
  display: none;
}

.aok-hidden {
  display: none !important;
  visibility: hidden !important;
}

.a-inline-block,
.aok-inline-block {
  display: inline-block;
}

.aok-offscreen {
  opacity: 0;
  position: absolute !important;
  left: 0px !important;
  bottom: -1px !important;
  z-index: -1 !important;
}

.a-align-center {
  vertical-align: middle !important;
}

#gw-desktop-herotator .image-map .cropped-image-map-size {
  height: 300px !important;
  width: 100% !important;
}

#gw-desktop-herotator {
  position: relative;
}

#gw-desktop-herotator ol.a-carousel {
  position: relative;
}

html,
body,
div,
span,
iframe,
h2,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tr,
td {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

html,
body,
div,
span,
iframe,
h2,
p,
a,
ol,
ul,
li,
form,
label,
table {
  border: 0px;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.416;
}

a img {
  border: none;
}

body {
  font-size: 75%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-position: initial initial;
  background-repeat: initial initial;
}

h2 {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(228, 121, 17);
}

h2 {
  font-size: 1.75em;
  line-height: 1.167;
  margin: 0.476em 0px;
}

p {
  margin: 0px 0px 1.25em;
}

a:visited {
  color: rgb(153, 102, 51);
}

a {
  color: rgb(0, 75, 145);
  text-decoration: underline;
}

hr {
  border-style: dashed none none;
  border-width: 1px 0px 0px;
  border-top-color: rgb(153, 153, 153);
  height: 1px;
  margin: 0px 0px 1.25em;
}

input {
  font-family: verdana, sans-serif;
  font-size: 12px;
}

ul,
ol {
  margin: 0px 15px 1em;
}

li {
  margin: 0.5em 0px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

html {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

table {
  border-spacing: 0px;
  font-size: inherit;
  border-collapse: collapse;
  text-align: left;
}

img {
  border: 0px;
}

li {
  list-style: none;
}

h2 {
  font-size: 100%;
  font-weight: 400;
  color: rgb(228, 121, 17);
}

input,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
select {
  font-size: 100%;
}

body {
  font-size: small;
  font-family: Verdana;
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
}

select,
input {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 99%;
  line-height: normal;
  font-family: Verdana, arial, helvetica, clean, sans-serif;
}

img {
  display: inline;
  border: 0px none;
}

ul li {
  background-image: none;
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 0px;
  background-position: 0px 0.5em;
  background-repeat: no-repeat no-repeat;
}

a:link,
a:visited {
  color: rgb(0, 75, 145);
}

body,
div,
ul,
ol,
li,
h2,
form,
input,
p,
td,
* {
  margin: 0px;
  padding: 0px;
}

div,
span {
  text-align: left;
}

h2 {
  font-size: 100%;
  font-weight: 700;
}

#be {
  display: none;
}

.price {
  color: rgb(177, 39, 4) !important;
  font-family: Arial, sans-serif !important;
}

#rhf a {
  color: rgb(0, 126, 185) !important;
}

.price {
  font-family: verdana, arial, helvetica, sans-serif;
  color: rgb(153, 0, 0);
}

.content {
  margin-top: 6.5px;
  margin-left: 25px;
}

select {
  border: 1px solid rgb(221, 221, 221);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 3px;
}

html {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

body,
div,
ul,
ol,
li,
h2,
form,
input,
p,
td {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

img {
  border: 0px;
}

li {
  list-style: none;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

input,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
  font-family: Verdana, arial, helvetica, clean, sans-serif;
}

select,
input {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 99%;
  line-height: normal;
  font-family: Verdana, arial, helvetica, clean, sans-serif;
}

table {
  font-size: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: inline;
  border: 0px none;
}

body {
  font-family: Verdana;
  text-align: left;
}

table {
  border-collapse: collapse;
  text-align: left;
}

div,
span {
  text-align: left;
}

h2 {
  color: rgb(228, 121, 17);
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

a:link {
  color: rgb(0, 75, 145);
}

a:visited {
  color: rgb(0, 75, 145);
}

.loading {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/ui/loadIndicators/loadIndicator-label.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

ul li {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/webservices/orange_bullet.png);
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 10px;
  background-position: 0px 0.5em;
  background-repeat: no-repeat no-repeat;
}

select {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 3px;
  border: 1px solid rgb(221, 221, 221);
}

html {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

body,
div,
ul,
ol,
li,
h2,
form,
input,
p,
td {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

img {
  border: 0px;
}

li {
  list-style: none;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

input,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
  font-family: Verdana, arial, helvetica, clean, sans-serif;
}

select,
input {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 99%;
  line-height: normal;
  font-family: Verdana, arial, helvetica, clean, sans-serif;
}

table {
  font-size: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: inline;
  border: 0px none;
}

body {
  font-family: Verdana;
  text-align: left;
}

table {
  border-collapse: collapse;
  text-align: left;
}

div,
span {
  text-align: left;
}

h2 {
  color: rgb(228, 121, 17);
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

a:link {
  color: rgb(0, 75, 145);
}

a:visited {
  color: rgb(0, 75, 145);
}

.loading {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/ui/loadIndicators/loadIndicator-label.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

ul li {
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/webservices/orange_bullet.png);
  list-style-type: none;
  margin-bottom: 0.5em;
  padding-left: 10px;
  background-position: 0px 0.5em;
  background-repeat: no-repeat no-repeat;
}
