@font-face {
  font-family: "pp-sans-big-light";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg") format("svg");
}

@font-face {
  font-family: "pp-sans-big-medium";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.svg") format("svg");
}

@font-face {
  font-family: "pp-sans-big-regular";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.svg") format("svg");
}

@font-face {
  font-family: "pp-sans-small-light";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.svg") format("svg");
}

@font-face {
  font-family: "pp-sans-small-medium";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.svg") format("svg");
}

@font-face {
  font-family: "pp-sans-small-regular";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot");
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot?#iefix") format("embedded-opentype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff") format("woff"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"),url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.svg") format("svg");
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 5px rgba(255,255,255,0);
  }

  to {
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
  }
}

.twin-hero {
  height: 580px;
  background-color: black;
  padding-top: 0 !important;
  width: 100%;
  overflow: hidden;
  position: relative;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-shadow {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 72px;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.07));
}

.twin-hero .hero-container {
  width: 100%;
  height: 100%;
}

.twin-hero .hero-container .side-container {
  padding-top: 72px;
  width: 80%;
  max-width: 1300px;
  height: 80%;
  position: relative;
}

.twin-hero .hero-container .side-container .btn.btn-white {
  border: none;
}

.twin-hero .hero-container .side-container .btn.btn-twin-hero {
  width: 35%;
}

.twin-hero .hero-container .side-container .hero-twin-items {
  margin: 30px 0 30px 8%;
  overflow: auto;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item {
  float: left;
  width: 28%;
  margin-left: 2%;
  margin-right: 2%;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item p {
  font-size: 15px;
  font-size: 1.07142857rem;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item a {
  color: #fff;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item img {
  text-align: center;
  transform: scale(.8);
  -moz-transform: scale(.8);
  -webkit-transform: scale(.8);
}

.twin-hero .hero-container h2,
.twin-hero .hero-container p {
  color: #fff;
}

.twin-hero .hero-container p {
  font-size: 20px;
  font-size: 1.42857143rem;
}

.twin-hero .hero-container p.legal-notes {
  font-size: 13px;
}

.twin-hero .hero-container .round-icon {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  margin-top: 10px;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.twin-hero .hero-container .round-filled-icon {
  display: inline-block;
  background: #fff;
  font-size: 40px;
  color: #009cde;
  border-radius: 30px;
  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content-box;
  width: 50px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  margin-top: 10px;
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.twin-hero .hero-container .active {
  border-bottom: none;
}

.twin-hero .hero-container .initial {
  position: absolute;
  width: 400px;
  padding-top: 130px;
  height: auto;
}

.twin-hero .hero-container .expanded {
  position: absolute;
  width: 85%;
  top: 20%;
  height: auto;
  overflow: auto;
  display: none;
}

.twin-hero .hero-container .collapsed {
  position: absolute;
  width: 300px;
  padding-top: 160px;
  height: auto;
  display: none;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero {
  position: absolute;
  z-index: 20;
  overflow: hidden;
  position: relative;
  width: 85%;
  height: 100%;
  top: 0;
  transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  left: -35%;
  box-shadow: 1px 0 10px rgba(0,0,0,0.7);
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero:after {
  position: absolute;
  content: "";
  border: 1px solid rgba(0,0,0,0.4);
  top: 0;
  right: -1px;
  height: 100%;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt {
  width: 100%;
  height: 100%;
  margin-left: 15%;
  background: url('https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/bifurcated-personal-desktop.jpg') no-repeat center center;
  background-size: cover;
  transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
  opacity: 0;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container {
  float: right;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .initial {
  right: 30%;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .expanded {
  right: 12%;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .collapsed {
  right: 42%;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -25%;
  z-index: 10;
  transform: translateX(-8%);
  -moz-transform: translateX(-8%);
  -webkit-transform: translateX(-8%);
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt {
  width: 100%;
  height: 100%;
  background: url('https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/bifurcated-business-desktop.jpg') no-repeat center center;
  background-size: cover;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,156,222,0.7), rgba(0,48,135,0.7));
  opacity: 0;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .initial {
  left: 35%;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .expanded {
  left: 11%;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .collapsed {
  left: 48%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

strong {
  font-weight: 700;
}

img {
  border: 0;
  max-width: 100%;
}

button,
input,
select {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5em;
  color: #767676;
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: #0079ad;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 9px 15px 10px;
  margin-bottom: 0;
  background: #009cde;
  font-size: 15px;
  font-size: 1.07142857142857rem;
  font-weight: 700;
  line-height: 1.4545em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-small {
  padding: 7px 8px;
  font-size: 14px;
  min-width: 66px;
}

.btn-secondary {
  background: #ddd;
  color: #333;
}

body {
  font-size: 14px;
  line-height: 1.5em;
}

.row-fluid {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*=span] {
  float: left;
  margin-left: 2%;
  min-height: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*=span]:first-child {
  margin-left: 0;
}

.row-fluid .span8 {
  width: 66%;
}

.accessAid {
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
}

@-ms-viewport {
  width: device-width;
}

.container {
  margin-right: auto;
  margin-left: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.containerCentered {
  margin-right: auto;
  margin-left: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 940px;
  max-width: 1150px;
}

.containerCentered:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width:1004px) {
  html[data-device-type=dedicated] .containerCentered {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width:1005px) {
  html[data-device-type=dedicated] .containerCentered {
    padding-left: 3%;
    padding-right: 3%;
  }
}

html {
  font-size: 87.5%;
}

html[data-device-type=dedicated] {
  min-width: 73pc;
}

html[lang=en-US][data-device-type=dedicated] {
  min-width: 771pt;
}

.headline,
h2 {
  font-weight: 300;
  color: #2c2e2f;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  letter-spacing: .02em;
}

.medium {
  letter-spacing: .01em;
}

h2 {
  font-size: 40px;
  font-size: 2.857rem;
  line-height: 1.25em;
}

.medium {
  font-size: 20px;
  font-size: 1.4287rem;
  line-height: 1.25em;
}

p {
  padding-top: 4px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 15px;
  font-size: 1.071rem;
  line-height: 1.5em;
  color: #2c2e2f;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.legal-notes {
  font-size: 9pt;
  font-size: .83rem;
  margin: 20px 0;
}

.btn-small {
  padding: 8px 9pt;
  min-width: 66px;
  font-size: 11px;
  font-size: .786rem;
  line-height: 1.36em;
}

.form-inline .controls {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type=text],
input[type=number] {
  margin: 0 0 0 10px;
  height: 38px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  background: #fff;
  font-size: 15px;
  font-size: 1.071rem;
  line-height: 1.25em;
  line-height: 34px\9;
  padding: 0;
  color: #333;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
}

.form-inline input[type=text],
.form-inline input[type=number] {
  height: 40px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.amount-currency,
input[type=number] {
  width: 75pt;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

select.no-arrow {
  margin: 0 0 0 10px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  background: #fff;
  font-size: 15px;
  font-size: 1.071rem;
  line-height: 1.25em;
  padding: 0;
  padding-left: 5px\9;
  font-family: Arial,sans-serif;
  color: #333;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: 10px;
  min-width: 70px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.form-inline select.no-arrow {
  height: 40px;
}

html[data-device-type=dedicated] select.no-arrow {
  text-indent: 0;
  padding: 8px;
}

select.no-arrow::-ms-expand {
  display: none;
}

label.select-arrow {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 0;
  left: -9pt;
  margin-left: -10px;
  text-indent: -999em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #444;
  margin-top: 10px;
  overflow: hidden;
  vertical-align: middle;
}

@-moz-document url-prefix()  {
  html[data-device-type=dedicated] select.no-arrow {
    text-indent: .01px;
    text-overflow: '';
  }
}

.form-inline label.select-arrow {
  top: -1px;
}

input.amount-currency+select,
input[type=number]+select {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: top;
  position: relative;
  top: 0;
  left: -1px;
}

button {
  margin-left: 10px;
  border: none;
  min-width: 140px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.input-wrapper * {
  white-space: normal;
}

.form-inline input.amount-currency~select,
.form-inline input[type=number]~select {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: top;
  position: relative;
  top: 0;
  left: -1px;
}

html[data-device-type=dedicated],
html[data-device-type=dedicated] #body,
html[data-device-type=dedicated] body {
  height: 100%;
}

.row-fluid {
  background: #fff;
  position: relative;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
  transform: translate(0,0);
}

.pullout {
  padding: 90px 0;
}

.pulloutPara {
  font-size: 1pc;
  font-size: 1.14285714285714rem;
  line-height: 1.5em;
  padding-top: 25px;
  padding-bottom: 35px;
}

.pullout a {
  font-size: 1pc;
  font-size: 1.14285714285714rem;
  line-height: 1.5em;
  font-weight: 700;
}

.active {
  border-bottom: 1px solid #009cde;
}

.center-block,
html[data-device-type=dedicated] .row-fluid [class*=span].center-block,
html[data-device-type=dedicated] .row-fluid [class*=span]:first-child.center-block {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.center-text {
  text-align: center;
}

.contentLink {
  font-size: 15px;
  font-size: 1.07142857142857rem;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 6px 0 0;
  padding-left: 10px;
}

.contentLink:first-of-type:not(.btn) {
  border-left: none;
  padding-left: 0;
}

.light {
  background-color: #f7f9fa;
  color: #666;
}

@font-face {
  font-family: pp-sans-big-light;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg) format("svg");
}

@font-face {
  font-family: pp-sans-big-medium;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.svg) format("svg");
}

@font-face {
  font-family: pp-sans-big-regular;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-light;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-medium;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-regular;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.svg) format("svg");
}

body {
  font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
}

.headline,
h2 {
  font-family: pp-sans-big-light,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
  line-height: 1.25;
}

input,
select.no-arrow {
  font-family: pp-sans-big-regular,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
}

.legal-notes {
  font-size: 13px;
  font-size: .92857143rem;
}

.btn {
  border-radius: 25px;
  font-size: 15px;
  font-size: 1.07142857rem;
  line-height: 1.5;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background: #0070ba;
}

.btn.btn-white {
  padding-top: 9pt;
  padding-bottom: 14px;
}

.btn.btn-white-border {
  color: #fff;
  background-color: transparent;
  position: relative;
  border: 0;
  box-shadow: 0 0 0 1px #fff,0 0 0 1px #fff;
}

html[data-device-type=dedicated] .btn.btn-white {
  border: 1px solid #0070ba;
  color: #0070ba;
  background-color: #fff;
}

.btn-secondary {
  background: #ddd;
}

header {
  font-family: pp-sans-big-regular,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
}

header .btn {
  padding: 8px 8px 10px 8px;
  min-width: 84px;
  font-size: 9pt;
  font-size: .85714286rem;
}

header .main-menu .menu-wrapper {
  background: #0070ba;
}

header .form-inline label.select-arrow {
  top: -4px;
}

header .form-inline .btn.continue {
  padding-top: 8px;
  padding-bottom: 10px;
}

header .header-buttons {
  position: relative;
  top: -3px;
}

label.select-arrow {
  top: -4px;
}

a {
  color: #0070ba;
}

.form-inline input.amount-currency~select,
.form-inline input[type=number]~select {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: top;
  position: relative;
  top: 0;
  left: -1px;
}

@font-face {
  font-family: pp-sans-big-light;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg) format("svg");
}

@font-face {
  font-family: pp-sans-big-medium;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.svg) format("svg");
}

@font-face {
  font-family: pp-sans-big-regular;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-light;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Light.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-medium;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Medium.svg) format("svg");
}

@font-face {
  font-family: pp-sans-small-regular;
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot);
  src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot?#iefix) format("embedded-opentype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff) format("woff"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.svg) format("svg");
}



@media (min-width:1024px) {
  body #main {
    padding-top: 0;
  }
}

.pp-header.table-row {
  font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 72px;
}

@media (min-width:1024px) {
  .pp-header.table-row {
    border-bottom: 1px solid rgba(255,255,255,.3);
    max-height: 230px;
  }
}

.pp-header.table-row:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 84px;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,0) 100%);
  top: 0;
  z-index: -1;
}

@media (min-width:1024px) {
  .pp-header.table-row:after {
    border-bottom: 1px solid rgba(255,255,255,.3);
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 72px;
  }
}

@media (min-width:1024px) {
  .pp-header.table-row>div {
    height: inherit;
  }
}

.pp-header.table-row .containerCentered {
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width:1024px) {
  .pp-header.table-row .containerCentered {
    height: inherit;
    min-width: auto;
    position: relative;
  }
}

.pp-header.table-row #menu-button {
  background: 0 0;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
  line-height: 12px;
  min-width: 84px;
  overflow: hidden;
  padding: 12px 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: none;
  touch-action: none;
  vertical-align: middle;
  box-shadow: 0 0 0 1px #fff,0 0 0 1px #fff;
  top: 18px;
  left: 3.75%;
  padding-left: 32px;
  z-index: 10;
}



.pp-header.table-row #menu-button:before {
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  left: 14px;
  width: 13px;
  height: 9px;
  top: 12px;
}

.pp-header.table-row #menu-button:after {
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  left: 14px;
  width: 13px;
  border-bottom: 0;
  height: 0;
  top: 17px;
}

@media (min-width:1024px) {
  .pp-header.table-row #menu-button {
    display: none;
  }
}

.pp-header.table-row #submenu-send {
  display: none;
}

.pp-header.table-row .main-menu {
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
  border-right: 1px solid rgba(255,255,255,.3);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  min-height: 1500px;
  overflow: hidden;
  position: absolute;
  padding-top: 18px;
  padding-left: 15px;
  top: 0;
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  transform: translateX(-240px);
  width: 240px;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu {
    background: 0 0;
    border-right: none;
    min-height: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    padding-left: 0;
  }
}

.pp-header.table-row .main-menu>ul {
  margin: 0;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu>ul {
    text-align: center;
  }
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu>ul>li {
    display: inline-block;
  }
}

.pp-header.table-row .main-menu>ul>li>a {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.7;
  text-transform: uppercase;
}

.pp-header.table-row .main-menu>ul>li>a[rel=menuitem]:after {
  border: 1px solid #fff;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  height: 9px;
  left: 6px;
  position: relative;
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: .75;
  overflow: hidden;
  width: 9px;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu>ul>li>a[rel=menuitem]:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu>ul>li>a {
    padding: 25px 15px;
  }
}

@media (min-width:1152px) {
  .pp-header.table-row .main-menu>ul>li>a {
    padding: 25px 25px;
  }
}

.pp-header.table-row .main-menu .sublist {
  border-top: 1px solid rgba(255,255,255,.3);
  margin-top: 20px;
  padding-top: 30px;
  width: 86%;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .sublist {
    display: none;
  }
}

.pp-header.table-row .main-menu .sublist li {
  min-width: 80%;
  position: absolute;
  top: 25em;
  top: 80vh;
  z-index: -1;
}

.pp-header.table-row .main-menu .sublist li .btn {
  background: 0 0;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
  line-height: 12px;
  min-width: 84px;
  overflow: hidden;
  padding: 12px 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: none;
  touch-action: none;
  vertical-align: middle;
  display: block;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: initial;
  padding: 13px 30px;
  position: relative;
  text-transform: initial;
}

.pp-header.table-row .main-menu .menu-wrapper {
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
  border-right: 1px solid rgba(255,255,255,.3);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  min-height: 1000px;
  overflow: hidden;
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  top: 0;
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  transform: translateX(-240px);
  width: 240px;
  z-index: 10;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper {
    background-color: transparent;
    background-image: none;
    border-right: none;
    display: none;
    height: auto;
    min-height: auto;
    top: 72px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    padding-left: 0;
    overflow: initial;
  }
}

.pp-header.table-row .main-menu .menu-wrapper .closer {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .closer {
    position: absolute;
    top: 18px;
    right: 18px;
    display: block;
    width: 29px;
    height: 29px;
    padding: 0;
    line-height: 12px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    visibility: visible;
    -webkit-touch-callout: none;
  }

  .pp-header.table-row .main-menu .menu-wrapper .closer:after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav {
    -ms-flex: 1 0 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: flex-start;
    margin: 0 auto;
    height: 125px;
    max-width: 984px;
  }
}

@media (min-width:1152px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav {
    max-width: 1092px;
    max-width: 1090px;
  }
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav li {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 31%;
    height: 50%;
  }
}

.pp-header.table-row .main-menu .menu-wrapper .subnav a[rel=menuitem] {
  font-family: pp-sans-big-medium,Helvetica Neue,Arial,sans-serif;
  text-transform: uppercase;
  line-height: 2.7;
  letter-spacing: 1px;
  padding: 0;
}

.pp-header.table-row .main-menu .menu-wrapper .subnav a[rel=menuitem]:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  overflow: hidden;
  border: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  opacity: .75;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: -1;
  margin-right: 10px;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav a[rel=menuitem] {
    display: none;
  }
}

.pp-header.table-row .main-menu .menu-wrapper .subnav a {
  color: #fff;
  display: block;
  text-align: left;
  font-size: 15px;
  font-family: pp-sans-small-light,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-variant: normal;
  padding: 10px 0 10px 10px;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav a {
    font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

.pp-header.table-row .main-menu .menu-wrapper .subnav a em {
  display: none;
  font-style: normal;
  font-size: 12px;
}

@media (min-width:1024px) {
  .pp-header.table-row .main-menu .menu-wrapper .subnav a em {
    display: block;
  }
}

.pp-header.table-row .paypal-img-logo {
  display: block;
  background: transparent url(https://www.paypalobjects.com/digitalassets/c/website/logo/monogram/pp_rv_mg.svg) center center no-repeat;
  background-size: contain;
  text-indent: -999em;
  margin: 20px auto auto;
  overflow: hidden;
  width: 26px;
  height: 30px;
  z-index: 1;
}

@media (min-width:1024px) {
  .pp-header.table-row .paypal-img-logo {
    background: transparent url(https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg) center center no-repeat;
    background-size: contain;
    height: 43px;
    left: 30px;
    margin: 0;
    position: absolute;
    top: 13px;
    width: 136px;
  }
}

@media (min-width:1152px) {
  .pp-header.table-row .paypal-img-logo {
    left: 0;
  }
}

.pp-header.table-row .header-buttons {
  position: absolute;
  top: 18px;
  right: 3.75%;
}

@media (min-width:1024px) {
  .pp-header.table-row .header-buttons {
    right: 1.5%;
  }
}

@media (min-width:1152px) {
  .pp-header.table-row .header-buttons {
    right: 2%;
  }
}

.pp-header.table-row .header-buttons .btn-small {
  font-weight: 500;
}

.pp-header.table-row .header-buttons .btn-small {
  box-shadow: 0 0 0 1px #fff,0 0 0 1px #fff;
}

.pp-header.table-row .header-buttons .btn-secondary {
  background: 0 0;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
  line-height: 12px;
  min-width: 84px;
  overflow: hidden;
  padding: 12px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: none;
  touch-action: none;
  vertical-align: middle;
}

@media (min-width:1024px) {
  .pp-header.table-row .header-buttons .btn-secondary {
    margin-right: 8px;
  }
}

.pp-header.table-row .header-buttons .btn-signup {
  display: none;
}

@media (min-width:1024px) {
  .pp-header.table-row .header-buttons .btn-signup {
    background: #fff;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    color: #2c2e2f;
    display: inline-block;
    font-size: 12px;
    font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
    line-height: 12px;
    min-width: 84px;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: none;
    touch-action: none;
    vertical-align: middle;
  }
}

html[data-device-type=dedicated] {
  height: auto;
}

html[data-device-type=dedicated] header[role=banner].pp-header+#main>section:not(.hero-pop-out):first-of-type {
  padding-top: 72px;
  margin-top: 0;
}
