html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: "MWF-MDL2";
  src: url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.woff") format("woff"),url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.ttf") format("truetype"),url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.svg") format("svg");
}

@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2") format("woff2"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff") format("woff"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2") format("woff2"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff") format("woff"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2") format("woff2"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff") format("woff"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'SegoeUI';
  src: local("Segoe UI"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2") format("woff2"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff") format("woff"),url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf") format("ttf");
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px;
  color: #000;
  background-color: #FFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.theme-light {
  color: #000;
  background-color: #e6e6e6;
}

.theme-dark {
  color: #FFF;
  background-color: #333333;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

input,
input[type="search"] {
  border-radius: 0;
  appearance: none;
}

div[data-module-id] {
  min-height: 1px;
}

[data-grid~="container"] {
  max-width: calc(1600px + 10%);
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 1083px) {
  [data-grid~="container"] {
    padding-left: 0;
    padding-right: 0;
  }
}

[data-grid~="container"],
[data-grid*="col-"] {
  box-sizing: border-box;
  zoom: 1;
}

[data-grid~="container"]:before,
[data-grid~="container"]:after,
[data-grid*="col-"]:before,
[data-grid*="col-"]:after {
  content: " ";
  display: table;
}

[data-grid~="container"]:after,
[data-grid*="col-"]:after {
  clear: both;
}

[data-grid*="col-"] {
  float: left;
  min-height: 1px;
}

[data-grid~="pad-6x"]>[data-grid] {
  padding-left: 12px;
  padding-right: 12px;
}

[data-grid~="col-6"] {
  width: 50%;
}

[data-grid~="col-12"] {
  width: 100%;
}

@media screen and (max-width: 1083px) {
  [data-grid~="stack-3"]>[data-grid] {
    float: none;
    width: 100%;
    display: block;
    padding: inherit 0;
  }
}

@media screen and (max-width: 539px) {
  [data-grid*="col-"] {
    float: none;
    width: 100%;
    display: block;
    padding: inherit 0;
  }
}

.x-clearfix:before,
.x-clearfix:after {
  content: " ";
  display: table;
}

.x-clearfix:after {
  clear: both;
}

[class^="m-"] {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 48px;
}

@media only screen and (min-width: 320px) {
  [class^="m-"] {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 540px) {
  [class^="m-"] {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (min-width: 768px) {
  [class^="m-"] {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media only screen and (min-width: 1084px) {
  [class^="m-"] {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.x-hidden {
  display: none !important;
}

@media all and (max-width: 539px) {
  .x-hidden-vp1 {
    display: none !important;
  }
}

@media all and (min-width: 540px) and (max-width: 767px) {
  .x-hidden-vp2 {
    display: none !important;
  }
}

.x-screen-reader {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

button.c-action-toggle {
  font-size: 15px;
  line-height: 20px;
  max-width: 374px;
  min-width: 36px;
  display: inline-block;
  padding: 6px 10px 8px;
  color: #0067B8;
  border: solid 1px transparent;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  outline: 1px dashed transparent;
  text-decoration: none;
}

button.c-action-toggle.c-glyph {
  min-width: 120px;
  padding-left: 0;
}

button.c-action-toggle.c-glyph:before {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

button.c-action-toggle.c-glyph[aria-label] {
  min-width: 0;
  margin-right: 10px;
  padding-right: 0;
}

@media screen and (-ms-high-contrast: active) {
  button.c-action-toggle.c-glyph {
    background: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  button.c-action-toggle.c-glyph {
    background: #FFF;
  }
}

.theme-light button.c-action-toggle {
  background: transparent;
  text-decoration: none;
}

.theme-light button.c-action-toggle {
  color: #000;
}

button.c-action-trigger,
a.c-action-trigger {
  font-size: 15px;
  max-width: 374px;
  min-width: 36px;
  display: inline-block;
  margin-top: 12px;
  padding: 6px 0 8px;
  color: #0067B8;
  border: solid 1px transparent;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  outline: 1px dashed transparent;
}

button.c-action-trigger.c-glyph,
a.c-action-trigger.c-glyph {
  min-width: 120px;
  padding-right: 10px;
}

button.c-action-trigger.c-glyph:before,
a.c-action-trigger.c-glyph:before {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

button.c-action-trigger.c-glyph[aria-label],
a.c-action-trigger.c-glyph[aria-label] {
  min-width: 0;
  margin-right: 10px;
  padding-right: 0;
}

.theme-light button.c-action-trigger,
.theme-light a.c-action-trigger {
  color: #000;
  background: transparent;
}

a.c-call-to-action {
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px 7px 24px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  border: 2px solid transparent;
  color: #FFF;
  background: #0067B8;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.075em;
  white-space: nowrap;
}

a.c-call-to-action span {
  display: inline-block;
  max-width: 100%;
  text-overflow: clip;
  overflow: hidden;
}

a.c-call-to-action:not(.glyph-play):after {
  display: inline-block;
  margin-left: 4px;
  margin-top: 1px;
  content: "\e76c";
  vertical-align: top;
}

.theme-light a.c-call-to-action,
.theme-dark .theme-light a.c-call-to-action {
  color: #FFF;
  background: #000;
}

.theme-dark a.c-call-to-action,
.theme-light .theme-dark a.c-call-to-action {
  color: #000;
  background: #FFF;
}

.c-carousel {
  position: relative;
}

.c-carousel .c-flipper {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
  display: none;
}

.c-carousel .c-flipper.f-previous {
  left: 0;
}

.c-carousel .c-flipper.f-next {
  right: 0;
}

.c-carousel .c-flipper+div {
  position: relative;
  overflow: hidden;
}

.c-carousel>.c-group {
  width: 100%;
  display: block;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 8px;
  z-index: 100;
}

.c-carousel>.c-group .c-sequence-indicator {
  position: static;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.c-carousel .c-sequence-indicator {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  bottom: 24px;
}

.c-carousel.f-multi-slide .c-flipper {
  opacity: 0;
}

.c-carousel.f-multi-slide.theme-light .c-flipper {
  background: #FFF;
  color: #000;
}

.c-carousel.f-multi-slide.theme-dark .c-flipper {
  background: #000;
  color: #FFF;
}

.c-carousel.f-multi-slide li {
  display: none;
  width: 100%;
}

.c-carousel.f-multi-slide li.f-active {
  display: block;
}

.c-carousel li {
  position: relative;
  height: 100%;
  z-index: 1;
}

.c-carousel li ~ li {
  display: none;
}

.c-carousel li .m-hero-item>picture img {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .c-carousel li .m-hero-item>div>div {
    padding-bottom: 48px;
  }

  .c-carousel li .m-hero-item.f-x-left>picture img,
  .c-carousel li .m-hero-item.f-x-right>picture img {
    left: 0;
    left: calc(50%);
    right: auto;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.c-flipper {
  display: inline-block;
  width: 24px;
  height: 48px;
  border: 0;
  padding: 0;
  background: #cccccc;
  color: #333333;
  opacity: 0.8;
  font-family: "MWF-MDL2";
}

@media screen and (-ms-high-contrast: active) {
  .c-flipper {
    background: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .c-flipper {
    background: #FFF;
  }
}

.c-flipper:before {
  position: relative;
  left: 0;
  top: 0;
}

.c-flipper.f-previous:before {
  content: "\e76b";
}

.c-flipper.f-next:before {
  content: "\e76c";
}

.theme-light .c-flipper {
  background: #e6e6e6;
  color: #333333;
  opacity: 0.8;
}

.theme-dark .c-flipper {
  background: #1a1a1a;
  color: #d9d9d9;
  opacity: 0.8;
}

.c-glyph:before,
.c-glyph:after {
  font-family: "MWF-MDL2";
  display: inline-block;
  text-decoration: underline;
}

.c-glyph:before,
.c-glyph:after {
  text-decoration: none;
}

.c-glyph.glyph-chevron-left:before {
  content: "\e76b";
}

.c-glyph.glyph-chevron-right:before {
  content: "\e76c";
}

.c-glyph.glyph-global-nav-button:before {
  content: "";
}

.c-glyph.glyph-arrow-htmllegacy:before {
  content: "\e0d5";
}

.c-glyph.glyph-pause:before {
  content: "";
}

.c-glyph.glyph-shopping-cart:before {
  content: "";
}

.c-group {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  padding: 1px;
}

.c-group>.c-call-to-action {
  margin-right: 4px;
}

.c-group>.c-action-trigger {
  padding-right: 24px;
}

.c-group>.c-action-trigger:last-child {
  padding-right: 0;
}

img.c-image {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.c-logo img+span {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.c-menu-item {
  background: inherit;
}

.c-menu-item span {
  display: block;
  background: rgba(0,0,0,0.05);
  padding: 11px 12px 13px;
  outline: 0;
  white-space: normal;
}

.theme-light .c-menu-item span {
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.8);
}

.c-menu {
  position: relative;
  z-index: 500;
  width: 296px;
  min-width: 64px;
  max-width: 368px;
  padding: 0;
  margin: 0;
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0;
  background-clip: padding-box;
}

.theme-light .c-menu {
  background: #FFF;
  color: #000;
}

.c-search {
  position: relative;
  min-width: 92px;
  max-width: 296px;
  height: 38px;
  margin-top: 20px;
}

.c-search input[type="search"],
.c-search button {
  float: left;
  height: 100%;
  outline: 0;
  background-color: #FFF;
}

.c-search input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7px 10px;
  padding-right: 38px;
  border: 1px solid rgba(0,0,0,0.6);
}

.c-search input[type="search"]::-ms-clear {
  display: none;
}

.c-search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  margin: 2px 2px 1px 1px;
  padding: 9px;
  border: 0;
}

.c-search button:before {
  content: "";
  text-indent: 0;
  font-size: 16px;
  -ms-high-contrast-adjust: none;
}

@media screen and (-ms-high-contrast) {
  .c-search button:before {
    font-size: 22px;
    font-weight: 900;
    line-height: 18px;
    text-indent: -3PX;
  }
}

@media screen and (-ms-high-contrast) {
  .c-search button {
    color: windowText;
    background: window;
  }
}

.theme-light .c-search {
  color: #000;
}

.theme-light .c-search input[type="search"] {
  border-color: #000;
  background-color: rgba(255,255,255,0.6);
}

.theme-light .c-search button {
  background: transparent;
}

.c-sequence-indicator {
  font-size: 0;
}

.c-sequence-indicator button {
  display: inline-block;
  border: 0;
  padding: 2px 3px;
  width: 12px;
  height: 10px;
  background: transparent;
}

@media screen and (-ms-high-contrast: active) {
  .c-sequence-indicator button {
    background: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .c-sequence-indicator button {
    background: #FFF;
  }
}

.c-sequence-indicator button:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.8);
}

.c-sequence-indicator button[aria-selected="true"]:before {
  background: #000;
}

@media screen and (-ms-high-contrast: active) {
  .c-sequence-indicator button[aria-selected="true"]:before {
    background: #FFF;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .c-sequence-indicator button[aria-selected="true"]:before {
    background: #000;
  }
}

.theme-light .c-sequence-indicator button:before {
  border-color: rgba(0,0,0,0.8);
}

.theme-light .c-sequence-indicator button[aria-selected="true"]:before {
  background: #000;
}

span.c-tooltip {
  font-size: 13px;
  position: fixed;
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.3);
  max-width: 340px;
  padding: 8px;
  line-height: 16px;
  z-index: 700;
}

span.c-tooltip[aria-hidden="true"] {
  display: none;
}

span.c-tooltip.f-hidden-from-screen-readers {
  display: block;
}

.theme-light span.c-tooltip {
  background: #f2f2f2;
  color: #000;
  border-color: rgba(0,0,0,0.3);
}

.theme-dark span.c-tooltip {
  background: #0d0d0d;
  color: #FFF;
  border-color: rgba(255,255,255,0.3);
}

.m-auto-suggest {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  display: block;
}

.m-auto-suggest .c-menu {
  position: absolute;
  width: 100%;
  background: #FFF;
  border-top: 1px solid;
  border-color: rgba(0,0,0,0.2);
}

.m-auto-suggest .c-menu .c-menu-item {
  position: static;
}

.m-auto-suggest .c-menu .c-menu-item>span {
  background: #FFF;
}

.m-auto-suggest .c-menu[aria-hidden="true"] {
  display: none;
}

.m-auto-suggest .c-menu[data-js-auto-suggest-position="default"] {
  top: 38px;
}

.m-auto-suggest .c-menu.f-auto-suggest-no-results .c-menu-item span {
  color: rgba(0,0,0,0.6);
}

.m-auto-suggest .c-menu.f-auto-suggest-no-results[data-js-auto-suggest-position="default"] {
  top: 38px;
}

.theme-light .m-auto-suggest .c-menu {
  border-color: #D2D2D2;
}

.theme-light .m-auto-suggest .c-menu .c-menu-item>span {
  background: #FFF;
}

.theme-light .m-auto-suggest .c-menu.f-auto-suggest-no-results .c-menu-item span {
  color: #505050;
}

a.m-skip-to-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -2;
}

.m-hero {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

@media only screen and (max-width: 1083px) {
  .m-hero .m-hero-item {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media only screen and (max-width: 767px) {
  .m-hero .m-hero-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.m-hero-item {
  position: relative;
  overflow: hidden;
  padding: 0 5%;
  width: 100%;
}

.m-hero-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: 41.55%;
}

@media only screen and (max-width: 1083px) {
  .m-hero-item:before {
    padding-bottom: 56.25%;
  }
}

.m-hero-item picture {
  display: block;
}

.m-hero-item>picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  -ms-transform: scale(1.0125);
  -webkit-transform: scale(1.0125);
  transform: scale(1.0125);
}

.m-hero-item>picture img {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

.m-hero-item>picture:after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.m-hero-item>div {
  width: 88%;
  height: 100%;
  max-width: 2048px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .m-hero-item>div {
    position: relative;
  }
}

.m-hero-item>div>div {
  position: absolute;
  z-index: 1;
  max-width: 520px;
}

.m-hero-item>div>div>div {
  margin-top: 24px;
  padding: 12px 2px 0;
}

.m-hero-item .c-heading {
  font-size: 46px;
  line-height: 56px;
  padding: 37px 0 3px;
  font-weight: 700;
  letter-spacing: -0.01em;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 112px;
  font-weight: 700;
  opacity: 0.95;
}

@media only screen and (max-width: 1399px) {
  .m-hero-item .c-heading {
    font-size: 24px;
    line-height: 28px;
    padding: 36px 0 4px;
    font-weight: 700;
    max-height: 56px;
    font-weight: 700;
  }
}

@media screen and (-ms-high-contrast: active) {
  .m-hero-item .c-heading {
    background: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .m-hero-item .c-heading {
    background: #FFF;
  }
}

.m-hero-item .c-paragraph {
  font-size: 15px;
  line-height: 20px;
  padding: 12px 0 0;
  font-weight: 400;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 80px;
  padding: 0;
}

@media screen and (-ms-high-contrast: active) {
  .m-hero-item .c-paragraph {
    background: #000;
  }
}

@media screen and (-ms-high-contrast: black-on-white) {
  .m-hero-item .c-paragraph {
    background: #FFF;
  }
}

.m-hero-item .c-group {
  display: block;
  overflow: visible;
}

.m-hero-item .c-group>.c-call-to-action {
  margin-right: 24px;
}

.m-hero-item .c-group>.c-call-to-action+.c-call-to-action {
  background: transparent;
  color: #0067B8;
  border-color: transparent;
  border-width: 2px;
  padding: 10px 0 7px;
  margin-left: 0;
  -ms-high-contrast-adjust: none;
  padding: 10px 43px 7px 25px;
}

.theme-light .m-hero-item .c-group>.c-call-to-action+.c-call-to-action {
  color: #000;
  background: transparent;
  border-color: transparent;
}

.m-hero-item.theme-light .c-group>.c-call-to-action+.c-call-to-action {
  color: #000;
}

@media screen and (-ms-high-contrast: active) {
  .m-hero-item.theme-light .c-group>.c-call-to-action+.c-call-to-action {
    color: #000;
  }
}

.m-hero-item.context-game>div>div>div {
  margin-top: 12px;
}

.m-hero-item.f-x-left>div>div {
  left: 0;
}

.m-hero-item.f-x-right>div>div {
  right: 0;
}

.m-hero-item.f-y-center .c-heading:first-child {
  padding-top: 0;
}

.m-hero-item.f-y-center>div>div {
  top: 120px;
  top: calc(50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m-hero-item[class*="f-mask"].theme-light>picture:after {
  background: #FFF;
}

.m-hero-item[class*="f-mask"].theme-light.f-x-left.f-y-center>picture:after {
  background: radial-gradient(circle at center left, #fff, rgba(255,255,255,0) 80%);
}

@media screen and (-ms-high-contrast: active) {
  .m-hero-item[class*="f-mask"].theme-light.f-x-left.f-y-center>picture:after {
    background: radial-gradient(circle at center left, #fff, rgba(255,255,255,0) 80%);
  }
}

.m-hero-item[class*="f-mask"].theme-dark>picture:after {
  background: #000;
}

.m-hero-item[class*="f-mask"].theme-dark.f-x-right.f-y-center>picture:after {
  background: radial-gradient(circle at center right, #000, rgba(255,255,255,0) 80%);
}

@media screen and (-ms-high-contrast: active) {
  .m-hero-item[class*="f-mask"].theme-dark.f-x-right.f-y-center>picture:after {
    background: radial-gradient(circle at center right, #000, rgba(255,255,255,0) 80%);
  }
}

.m-hero-item.f-mask-60>picture:after {
  opacity: 0.6;
}

@media only screen and (max-width: 1399px) {
  .m-hero-item>div>div {
    max-width: 440px;
  }
}

@media only screen and (max-width: 1083px) {
  .m-hero-item>div>div {
    max-width: 340px;
  }
}

@media only screen and (max-width: 767px) {
  .m-hero-item {
    height: auto;
    padding: 0;
    text-align: center;
  }

  .m-hero-item[class*="f-x"][class*="f-y"]>picture img {
    top: 0;
    left: 0;
    left: calc(50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .m-hero-item[class*="f-x"][class*="f-y"]>picture:after {
    display: none;
  }

  .m-hero-item[class*="f-x"][class*="f-y"]>div>div {
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 0;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
  }

  .m-hero-item>div {
    padding: 12px;
    height: 280px;
  }

  .m-hero-item .c-paragraph {
    max-height: 40px;
  }

  .m-hero-item .c-heading {
    font-size: 20px;
    line-height: 24px;
    padding: 35px 0 5px;
    font-weight: 700;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 120px;
    font-weight: 700;
  }

  .m-hero-item .c-heading {
    padding-top: 0;
  }

  .m-hero-item>div>div>div {
    justify-content: center;
  }

  .m-hero-item .c-group>.c-call-to-action {
    margin: 0;
  }

  .m-hero-item .c-group>.c-call-to-action+.c-call-to-action {
    margin: 0;
  }
}

@media only screen and (max-width: 539px) {
  .m-hero-item .c-group>.c-call-to-action+.c-call-to-action {
    padding: 10px 43px 7px;
  }
}

.m-content-placement {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

@media only screen and (min-width: 540px) {
  .m-content-placement {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .m-content-placement {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.m-content-placement-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 48px;
}

.m-content-placement-item .c-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.95;
  padding-top: 12px;
  padding-bottom: 2px;
}

.m-content-placement-item .c-paragraph {
  padding-top: 2px;
}

.m-content-placement-item .c-heading,
.m-content-placement-item .c-paragraph {
  padding-right: 12px;
}

.m-content-placement-item .c-call-to-action {
  background: transparent;
  color: #0067B8;
  border-color: transparent;
  border-width: 2px;
  padding: 10px 0 7px;
  margin-left: 0;
  -ms-high-contrast-adjust: none;
  white-space: normal;
  text-align: left;
}

.m-content-placement-item .c-call-to-action span {
  display: inline;
}

.m-content-placement-item>picture {
  display: block;
  position: relative;
  overflow: hidden;
}

.m-content-placement-item>picture img {
  position: relative;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 539px) {
  .m-content-placement-item .c-heading {
    font-size: 18px;
    line-height: 24px;
  }
}

.m-social button {
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  padding: 0;
  color: rgba(0,0,0,0.6);
  vertical-align: middle;
}

.m-social button[aria-hidden="true"] {
  display: none;
}

.m-social.f-horizontal button.c-glyph[data-js-toggle="false"]:after {
  content: "\e76c";
}

.c-uhf-menu {
  display: inline-block;
}

.c-uhf-menu button {
  padding: 13px 38px 13px 26px;
  border: 0;
  background: transparent;
  text-align: left;
  position: relative;
}

.c-uhf-menu button:after {
  font-family: "MWF-MDL2";
  content: "";
  position: absolute;
  font-size: 8px;
  display: inline-block;
  color: currentColor;
  font-weight: 700;
  padding-top: 7px;
}

.c-uhf-menu ul {
  min-width: 64px;
  max-width: 368px;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
}

.c-uhf-menu li a {
  display: block;
  white-space: normal;
}

.c-uhf-menu [aria-expanded="false"]+ul[aria-hidden="true"] {
  display: none;
}

.c-uhf-nav-link {
  position: relative;
}

.c-uhfh {
  margin-top: 0;
}

.c-uhfh .f-mobile-title,
.c-uhfh .glyph-global-nav-button,
.c-uhfh .glyph-arrow-htmllegacy {
  display: none;
}

.c-uhfh>div>div {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.c-uhfh>div>div:before,
.c-uhfh>div>div:after {
  content: " ";
  display: table;
}

.c-uhfh>div>div:after {
  clear: both;
}

.c-uhfh>div:first-child {
  height: 50px;
  background: #FFF;
}

.c-uhfh>div:first-child>div>div {
  float: right;
}

.c-uhfh>div:first-child .c-action-trigger {
  height: 50px;
  float: left;
}

.c-uhfh>div:first-child .c-action-trigger.glyph-shopping-cart {
  height: 46px;
  position: relative;
}

.c-uhfh>div:first-child .c-action-trigger:before {
  vertical-align: baseline;
  margin: 0;
}

.c-uhfh>div:first-child .c-search {
  margin-top: 6px;
  float: left;
}

.c-uhfh>div:first-child .c-search input[type="search"] {
  background: rgba(255,255,255,0.2);
  border-color: rgba(0,0,0,0.4);
  height: 36px;
}

.c-uhfh>div:first-child .c-search button {
  height: 32px;
  background: transparent;
  color: rgba(0,0,0,0.6);
  margin-right: 2px;
}

.c-uhfh>div:first-child .c-logo .c-image {
  margin-top: -1px;
  max-width: none;
  width: 108px;
}

.c-uhfh>div:first-child .c-uhf-menu {
  position: relative;
}

.c-uhfh>div a.c-action-trigger,
.c-uhfh>div a.c-action-trigger.glyph-shopping-cart,
.c-uhfh>div button.c-action-trigger {
  color: rgba(0,0,0,0.6);
}

.c-uhfh>div .m-auto-suggest ul {
  border: 1px solid rgba(0,0,0,0.1);
  top: 36px;
  max-width: none;
  z-index: 700;
}

.c-uhfh .c-action-trigger.glyph-shopping-cart {
  margin-top: 2px;
  margin-right: -12px !important;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 0 !important;
  width: 40px;
  min-width: 1px;
}

.c-uhfh .c-action-trigger.glyph-shopping-cart:before {
  line-height: 46px;
  margin-top: 1px;
  display: inline-block;
  float: left;
}

.c-uhfh .c-action-trigger.glyph-shopping-cart span {
  font-size: 11px;
  line-height: 16px;
  line-height: 46px !important;
  vertical-align: top;
  padding-left: 2px;
  float: left;
}

.c-uhfh .c-action-trigger[class*="glyph-chevron-"] {
  display: none;
  border-width: 0;
}

@media only screen and (max-width: 767px) {
  .c-uhfh #meControl,
  .c-uhfh>div:first-child.f-closed .f-mobile-title,
  .c-uhfh>div:first-child.f-closed nav {
    display: none;
  }

  .c-uhfh .f-mobile-title {
    margin: 0;
    padding: 14px 48px 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #000;
    background: #FFF;
    float: none;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 50px;
  }

  .c-uhfh .f-mobile-title .c-action-trigger[class*="glyph-chevron-"] {
    display: block;
    color: #000;
    position: absolute;
    top: 0;
    width: 35px;
    margin: 0;
  }

  .c-uhfh .f-mobile-title .c-action-trigger[class*="glyph-chevron-"]:before {
    vertical-align: middle;
  }

  .c-uhfh .f-mobile-title .c-action-trigger.glyph-chevron-left {
    border-right: 0;
    left: 1px;
  }

  .c-uhfh .f-mobile-title .c-action-trigger.glyph-chevron-right {
    border-left: 0;
    right: 1px;
  }

  .c-uhfh .c-uhf-menu button:after,
  .c-uhfh li.f-sub-menu button:after {
    font-family: "MWF-MDL2";
    content: "\e76c";
    right: 12px;
  }

  .c-uhfh .c-uhf-menu {
    display: block;
    height: 50px;
  }

  .c-uhfh .c-uhf-menu>button {
    display: block;
    width: calc(100% - 2px);
    margin: 1px 0;
    z-index: 0;
    color: #000;
    padding-left: 15px;
    height: 48px;
  }

  .c-uhfh .c-uhf-menu>button:after {
    color: #000;
  }

  .c-uhfh .c-uhf-menu a,
  .c-uhfh .c-uhf-menu button {
    color: #262626;
  }

  .c-uhfh .c-uhf-menu button[aria-expanded="true"] {
    background: transparent;
    color: #262626;
  }

  .c-uhfh .c-uhf-menu ul {
    top: 0;
    height: calc(100vh - 100px);
    border-bottom: 0;
    z-index: 501;
    width: 100%;
    overflow: auto;
    background: #f2f2f2;
    left: 0;
  }

  .c-uhfh .c-uhf-menu ul[aria-hidden="false"] {
    display: block;
    max-width: none;
  }

  .c-uhfh .c-uhf-nav-link {
    background: transparent;
    width: 100%;
    padding-left: 15px;
  }

  .c-uhfh a.c-uhf-nav-link {
    color: #000;
  }

  .c-uhfh>div:first-child {
    position: relative;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 501;
  }

  .c-uhfh>div:first-child.f-closed .glyph-shopping-cart,
  .c-uhfh>div:first-child.f-closed .c-search {
    display: block;
  }

  .c-uhfh>div:first-child>div {
    margin: 0;
  }

  .c-uhfh>div:first-child .c-action-trigger {
    margin: 1px;
    width: 48px;
    height: 48px;
  }

  .c-uhfh>div:first-child .c-action-trigger.glyph-global-nav-button:before {
    width: 20px;
    height: 20px;
    margin-top: 7px;
  }

  .c-uhfh>div:first-child .c-logo {
    float: none;
    display: block;
    position: absolute;
    left: calc(50% - 60px);
    height: auto;
    margin-top: 1px;
    padding-top: 11px;
  }

  .c-uhfh>div:first-child .c-uhf-nav-link {
    display: inline-block;
    margin-top: 1px;
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 10px;
    height: 48px;
  }

  .c-uhfh>div:first-child .c-uhf-menu {
    float: none;
    position: static;
  }

  .c-uhfh>div:first-child .c-uhf-menu ul[aria-hidden="false"] {
    height: 100%;
  }

  .c-uhfh>div:first-child .c-uhf-menu ul li :after {
    top: 20px;
    font-size: 9px;
    padding-top: 0;
  }

  .c-uhfh>div:first-child .c-uhf-menu ul li>a,
  .c-uhfh>div:first-child .c-uhf-menu ul li>button {
    padding: 14px 15px 15px;
    height: 100%;
    margin: 1px;
    width: calc(100% - 2px);
  }

  .c-uhfh>div:first-child nav {
    position: absolute;
    display: none;
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background: #FFF;
    left: 0;
    z-index: 501;
  }

  .c-uhfh>div:first-child nav>ul>li {
    display: block;
    text-align: left;
    height: 50px;
    float: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .c-uhfh>div:first-child nav li.f-sub-menu>button+ul {
    left: 0;
  }

  .c-uhfh .c-action-trigger.glyph-global-nav-button {
    display: block;
    font-size: 20px;
    height: 48px;
    color: #000;
  }

  .c-uhfh .c-action-trigger.glyph-shopping-cart {
    height: 48px;
    margin-right: 1px;
  }

  .c-uhfh .c-search input[type="search"] {
    border-color: rgba(0,0,0,0.6);
  }

  .c-uhfh .c-uhfh-actions {
    margin-right: 12px;
  }
}

@media only screen and (max-width: 1399px) {
  .c-uhfh>div:first-child .m-auto-suggest {
    display: none;
  }

  .c-uhfh .c-search {
    min-width: 0;
    width: 0;
  }

  .c-uhfh .c-search input[type="search"] {
    padding: 0;
    width: 0;
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1083px) {
  .c-uhfh>div:first-child {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 1399px) {
  .c-uhfh .c-search {
    min-width: 0;
    width: 0;
    padding-left: 40px;
  }

  .c-uhfh .c-search input[type="search"] {
    padding: 0;
    width: 0;
    opacity: 0;
  }
}

@media (min-width: 768px) and (max-width: 1083px) {
  #epb .c-uhfh-alert[role="alert"]>div {
    width: 94%;
    margin: 0 auto;
  }
}

@media (min-width: 1084px) {
  #epb .c-uhfh-alert[role="alert"]>div {
    width: 90%;
    margin: 0 auto;
  }
}

#epb {
  animation: slidedown .5s ease-in;
  overflow: hidden;
}

@keyframes slidedown {
  from {
    height: 0;
  }

  to {
    height: 54px;
  }
}

@media screen and (min-width: 768px) {
  .js .c-uhf-menu li.f-sub-menu>button[aria-expanded="true"]+ul[aria-hidden="false"] {
    animation: none;
    display: block;
  }

  .c-uhf-menu>button {
    border: 1px solid transparent;
    color: rgba(0,0,0,0.8);
    display: inline-block;
    margin-top: 1px;
    z-index: 701;
  }

  .c-uhf-menu>button:after {
    right: 20px;
  }

  .c-uhf-menu ul {
    border-style: solid;
    border-width: 1px 1px 2px;
    width: 296px;
    top: 100%;
    z-index: 700;
  }

  .c-uhf-menu ul>li ul {
    border-left-width: 0;
  }

  .c-uhf-menu li>a,
  .c-uhf-menu li>button {
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .c-uhf-menu li.f-sub-menu>button:after {
    font-family: "MWF-MDL2";
    content: "\e76c";
    position: absolute;
    font-size: 6px;
    top: 19px;
    right: 24px;
  }

  .theme-light .c-uhf-menu>button {
    color: rgba(0,0,0,0.8);
  }

  .c-uhfh .c-uhf-nav-link:before,
  .c-uhfh .c-uhf-menu>button[aria-expanded="false"]:before {
    background: currentColor;
    content: "";
    display: none;
    height: 2px;
    position: absolute;
  }

  .c-uhfh a,
  .c-uhfh button {
    white-space: normal;
  }

  .c-uhfh>div {
    padding: 0 5%;
  }

  .c-uhfh>div nav {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 1px;
  }

  .c-uhfh>div nav .f-hidden {
    opacity: 0.6;
  }

  .c-uhfh>div:first-child {
    z-index: 502;
  }

  .c-uhfh>div:first-child>div {
    position: relative;
  }

  .c-uhfh>div:first-child nav>ul>li {
    display: inline-block;
  }

  .c-uhfh>div:first-child nav>ul>li>div {
    position: static !important;
  }

  .c-uhfh>div:first-child button.c-action-trigger.glyph-chevron-right {
    margin: 0;
    float: right;
    min-width: 15px;
  }

  .c-uhfh>div:first-child button.c-action-trigger.glyph-chevron-left {
    margin: 0;
    float: left;
    min-width: 15px;
  }

  .c-uhfh>div:first-child .c-logo {
    padding: 13px 20px 14px 12px;
    width: 137px;
    height: 96%;
    margin-top: 1px;
    margin-left: -12px;
    float: left;
  }

  .c-uhfh>div:first-child .c-uhf-nav-link {
    color: #262626;
    display: inline-block;
    margin-top: 1px;
    padding: 14px 27px 10px;
    height: 48px;
  }

  .c-uhfh>div:first-child .c-uhf-nav-link:before {
    bottom: 12px;
    width: calc(100% - 54px);
  }

  .c-uhfh>div:first-child .c-uhf-menu a,
  .c-uhfh>div:first-child .c-uhf-menu button {
    color: #262626;
  }

  .c-uhfh>div:first-child .c-uhf-menu>button {
    white-space: nowrap;
  }

  .c-uhfh>div:first-child .c-uhf-menu>button:before {
    bottom: 12px;
    width: calc(100% - 64px);
  }

  .c-uhfh>div:first-child .c-uhf-menu>ul {
    background: #f2f2f2;
  }

  .c-uhfh>div:first-child .c-uhf-menu>ul>li>[aria-expanded="true"],
  .c-uhfh>div:first-child .c-uhf-menu>ul>li>ul {
    background: #e6e6e6;
  }

  .c-uhfh li.f-sub-menu>button+ul {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .c-uhfh li.f-sub-menu button {
    border: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 30px;
  }

  .c-uhfh .f-multi-column {
    white-space: nowrap;
    max-width: none;
    width: auto;
  }

  .c-uhfh .f-multi-column>li {
    display: inline-block;
    float: left;
    padding-bottom: 10px;
    vertical-align: top;
  }

  .c-uhfh .f-multi-column>li:before,
  .c-uhfh .f-multi-column>li:after {
    content: " ";
    display: table;
  }

  .c-uhfh .f-multi-column>li:after {
    clear: both;
  }

  .c-uhfh .f-multi-column>li>a,
  .c-uhfh .f-multi-column>li>button {
    font-weight: 700;
  }

  .c-uhfh .f-multi-column>li a,
  .c-uhfh .f-multi-column>li button,
  .c-uhfh .f-multi-column>li ul {
    background: transparent !important;
    width: 200px;
  }

  .c-uhfh .f-multi-column>li ul {
    border: 0 !important;
    position: relative !important;
    left: auto !important;
    right: auto;
  }

  .c-uhfh .f-multi-column>li ul>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
  }



  .c-uhfh .f-multi-column .f-multi-column-info {
    background-color: #e6e6e6;
    margin: 0;
    padding: 1px;
    width: 100%;
  }

  .c-uhfh .f-multi-column .f-multi-column-info>a {
    color: #000 !important;
    font-weight: 400;
    line-height: 3px;
    margin: 0 auto;
    max-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
  }

  .c-uhfh .f-multi-column .f-multi-column-info>a:after {
    content: "" !important;
    vertical-align: top;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 630px) and (max-width: 839px) {
  .c-uhfh .f-multi-column.f-multi-column-6 {
    width: 630px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 840px) and (max-width: 1049px) {
  .c-uhfh .f-multi-column.f-multi-column-6 {
    width: 840px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1050px) and (max-width: 1259px) {
  .c-uhfh .f-multi-column.f-multi-column-6 {
    width: 1050px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1260px) {
  .c-uhfh .f-multi-column.f-multi-column-6 {
    width: 1260px;
  }
}

@media screen and (min-width: 768px) {
  .c-uhfh .c-search input[type="search"] {
    max-width: 100%;
    width: 264px;
  }

  .c-uhfh .c-action-trigger.glyph-chevron-left {
    float: left;
    border-right: 1px solid;
    outline: transparent solid 1px;
  }

  .c-uhfh .c-action-trigger.glyph-chevron-right {
    float: right;
    border-left: 1px solid;
    outline: transparent solid 1px;
  }

  .c-uhfh>[class*="theme-"] {
    background: #FFF;
  }

  .c-uhfh>[class*="theme-"] .c-action-trigger,
  .c-uhfh>[class*="theme-"] .c-logo,
  .c-uhfh>[class*="theme-"] .c-uhf-nav-link,
  .c-uhfh>[class*="theme-"] .c-uhf-menu a,
  .c-uhfh>[class*="theme-"] .c-uhf-menu button,
  .c-uhfh>[class*="theme-"] .c-me:not(.msame_open) .msame_Header_name {
    color: #262626;
  }

  .c-uhfh>[class*="theme-"] button.c-action-trigger[class*="glyph-chevron-"] {
    border-color: rgba(0,0,0,0.1);
  }

  .c-uhfh>[class*="theme-"] .c-uhf-menu ul {
    border-bottom-color: #262626;
  }

  .c-uhfh>[class*="theme-"] .c-uhf-menu>ul {
    background: #f2f2f2;
  }

  .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>[aria-expanded="true"],
  .c-uhfh>[class*="theme-"] .c-uhf-menu>ul>li>ul {
    background: #e6e6e6;
  }

  .c-uhfh .theme-light .c-uhf-menu>button+ul {
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) #000;
    margin-top: -2px;
  }

  .c-uhfh .theme-light .c-uhf-menu>button+ul>li ul {
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) #000 transparent;
    margin-top: -1px;
  }

  .c-uhfh .c-uhf-menu [aria-expanded],
  .c-uhfh .c-uhf-menu a,
  .c-uhfh li.f-sub-menu [aria-expanded],
  .c-uhfh li.f-sub-menu a {
    position: relative;
    z-index: 701;
  }

  .c-uhfh li.f-sub-menu [aria-expanded="true"] {
    z-index: 700;
  }
}

@media screen and (min-width: 768px) {
  .c-uhfh-alert {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
  }

  .c-uhfh-alert>div {
    max-width: 1600px;
    float: inherit;
    width: 90%;
    margin: 0 auto;
  }

  .c-uhfh-alert>div>.c-paragraph {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 24px;
  }

  .c-uhfh-alert>div>.c-paragraph>.c-group {
    display: inline;
    float: right;
    margin-left: -2px;
    overflow: visible;
  }

  .c-uhfh-alert>div>.c-paragraph>.c-group>.c-action-trigger {
    font-size: 13px;
    margin: -7px 0 0;
  }

  .c-uhfh-alert>div>.c-paragraph>.c-group>.c-action-trigger:first-child {
    padding: 0 10px 0 0;
  }

  .c-uhfh-alert>div>.c-paragraph>.c-group>.c-action-trigger:last-child {
    padding: 0 4px 0 0;
  }

  #epb .epb-container>div .c-paragraph {
    display: block !important;
  }

  #epb .epb-container.epb-default-color {
    background-color: #f2f2f2;
    height: 72px;
  }

  #epb .epb-container.epb-default-color>div {
    padding: 16px 0;
  }

  #epb .epb-container.epb-default-color>div .c-paragraph>img {
    height: 40px;
    float: left;
    margin-right: 12px;
    padding: 0;
    width: 40px;
  }

  #epb .epb-container.epb-default-color .c-text-group {
    float: left;
    margin-top: -2px;
  }

  #epb .epb-container.epb-default-color .c-text-group .epb-text {
    display: block;
    opacity: .7;
    line-height: 2;
  }

  #epb .epb-container.epb-default-color .c-text-group .epb-launch {
    font-size: 16px;
    font-weight: 700;
  }

  #epb .epb-container.epb-default-color .c-group {
    margin-top: 10px;
    margin-right: 10px;
  }

  #epb .epb-container.epb-default-color .c-group .c-action-trigger {
    min-width: 120px;
    text-align: center;
  }

  #epb .epb-container.epb-default-color .c-group .c-action-cancel {
    text-decoration: underline;
  }

  #epb .epb-container.epb-default-color .c-group .c-action-open {
    background-color: #0067B8;
    color: #FFF;
  }

  .c-me {
    float: left;
    padding-top: 1px;
  }

  .c-me .msame_Header {
    border: 1px solid transparent;
    border-bottom-style: none;
    min-width: 56px;
    position: relative;
    z-index: 3000001;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: -moz-inline-box;
  }

  .c-me .msame_Header_name {
    font-size: 15px;
    margin-top: 1px;
    padding: 0 12px;
    line-height: 46px;
    height: 46px;
    color: rgba(0,0,0,0.8);
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .c-me .msame_Header>div {
    display: inline-block;
    vertical-align: middle;
  }

  .c-uhfh-gcontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .c-uhfh-gcontainer button.c-action-trigger.glyph-chevron-left {
    float: left;
  }

  .c-uhfh-gnav {
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .c-uhfh-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.m-sitebanner {
  padding: 12px 36px;
  color: #fff !important;
  text-align: center;
  font-size: 13px;
  display: block;
}

@charset "utf8";

.cc-banner {
  position: relative;
  font-size: 12px;
}

.cc-banner a,
.cc-banner div,
.cc-banner span,
.cc-banner svg {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cc-banner .cc-v-center {
  display: inline;
  vertical-align: middle;
  line-height: 2em;
}

.cc-float-right {
  float: right;
}

.cc-banner {
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #231f20;
  background: #f2f2f2;
  display: none;
  text-align: center;
  padding: 0 1em;
  margin: 0;
}

@media (min-width:768px) {
  .cc-banner {
    font-size: 13px;
    padding: 0 1.65em;
  }
}

.cc-banner>.cc-container {
  text-align: left;
  padding: .75em 0;
  display: inline-block;
  width: 100%;
}

@media (min-width:1084px) {
  .cc-banner {
    padding: 0;
  }

  .cc-banner>.cc-container {
    width: 90%;
    max-width: 1600px;
  }
}

.cc-banner.active {
  display: block;
}

.cc-banner .cc-icon {
  height: 1.846em;
  width: 1.846em;
}

.cc-banner .cc-text {
  margin-left: .5em;
  margin-right: 1.5em;
}

.cc-banner .cc-link {
  text-decoration: none;
  color: #0067b8;
}
